.PricingPlans {
  & .slick-dots {
    bottom: -40px;
  }

  @media (min-width: 1025px) {
    .slick-track {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-end;
      justify-content: center;
    }
  }
}

.PricingCard {
  position: relative;

  width: 275px;
  margin: 0 auto 12px;
  padding: 64px 21px 52px;

  color: #656565;
  text-align: center;

  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  background: #fff;

  &-title {
    margin: 0 0 14px;

    font-size: 30px;
    line-height: 36px;
  }
  &-price {
    width: 165px;
    height: 165px;
    margin: 0 auto 16px;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: #ed484f;
    overflow: hidden;

    & span {
      font-size: 48px;
      line-height: 58px;
      font-weight: bold;
      color: #fff;
    }
    & .type {
      font-size: 36px;
      line-height: 58px;
      color: #ffb7b7;
    }
    & .ent {
      font-size: 22px;
      line-height: 26px;
    }
  }
  &-priceInfo {
    margin: 0 0 30px;

    font-size: 14px;
    line-height: 16px;
    opacity: .72;
  }
  &-info {
    min-height: 193px;
    margin: 0 0 27px;
  }
  &-infoItem {
    padding: 10px 7px;

    font-size: 18px;
    line-height: 21px;

    border-bottom: 2px solid rgba(217, 217, 217, .57);

    & b {
      margin: 0 5px 0 0;
      font-weight: bold;
    }
  }
  &-link {
    & a {
      display: block;
      width: 100%;
      margin: 0;
      padding: 8px 10px;

      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
      text-align: center;
      color: #fff;
      border-radius: 3px;
      border: 2px solid #ed484f;
      background: #ed484f;
      transition: 0.25s ease-in-out;

      &:focus,
      &:hover {
        color: #ed484f;
        background: #fff;
      }
    }
  }

  &--featured {
    padding-top: 86px;

    color: #6f6f6f;
    background: #cce6f4;

    & .PricingCard-save {
      position: absolute;
      top: 0;
      right: 19px;

      display: block;
      width: 72px;
      padding: 6px 10px 17px;

      font-size: 16px;
      line-height: 21px;
      text-align: center;
      color: #fff;
      background: #ed484f;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;

        width: 0;
        height: 0;

        border-left: 36px solid transparent;
        border-right: 36px solid transparent;
        border-bottom: 12px solid #cce6f4;
      }
    }

    & .PricingCard-title {
      margin: 0 0 32px;
    }

    & .PricingCard-price {
      background: #fff;

      & span {
        color: #6f6f6f;
      }
      & .type {
        color: #a0a0a0;
      }
    }

    & .PricingCard-infoItem {
      border-bottom: 2px solid rgba(255, 255, 255, .57);
    }

    & .PricingCard-link {
      & a {
        color: #ed484f;
        background: #fff;
        border-color: #fff;

        &:focus,
        &:hover {
          color: #fff;
          background: #ed484f;
          border-color: #ed484f;
        }
      }
    }
  }
}
