.FeaturedProduct {

  position: relative;
  width: 310px;
  max-width: 310px;
  margin: 0 auto;
  padding: 10px 5px 10px 10px;

  background: #fff;
  border-bottom: 1px solid rgb(232,232,232);

  &-inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &-photo {
    flex: 0 0 100px;
  }

  &-img {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2px;
    overflow: hidden;

    & img {
      max-width: 100%;
      height: auto;
    }
  }

  &-info {
    flex: 1 1 auto;
    padding: 0 0 0 10px;
  }

  &-title {
    height: 36px;
    max-height: 36px;
    margin: 0 0 10px;

    font-size: 13px;
    line-height: 18px;
    font-weight: 500;

    overflow: hidden;
  }

  &-pricing {
    margin: 0 0 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  &-pricePrev {
    padding-left: 6px;

    font-size: 12px;
    line-height: 17px;
    color: #4A4A4A;
    text-decoration: line-through;
  }
  &-price {
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
    color: #ED484F;
  }

  &-raiting {
    & .full-rating {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin: 0;
      font-size: 0;
    }
    & .num {
      padding-right: 3px;
      font-size: 10px;
      line-height: 12px;
    }
  }

  &-activityInfo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &-activity {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    & .likes {
      padding-right: 7px;
    }
    & .like-widget {
      margin: 0;
      padding: 0;

      font-size: 10px;
      line-height: 12px;
      color: #707070;

      & svg {
        width: 15px;
        height: 15px;
      }
    }

    & .comments {

    }
    & .comments-icon {
      margin: 0;
      padding: 0;
      align-items: center;

      font-size: 10px;
      line-height: 12px;
      color: #707070;

      & svg {
        width: 15px;
        height: 15px;
      }
    }
    .save {
      margin-left: auto;
    }
    .save-widget {
      padding: 0;
      position: static;

      svg {
        max-width: 12px;
        max-height: 12px;
      }
      .save-widget__dropdown {
        top: initial;
        bottom: 0px;
        left: initial;
        right: -25px;
      }
    }
  }

  &-sale {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 9px;
    z-index: 5;
    background: #DC5555;
    color: #fff;
    line-height: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 3px;

    @media (max-width: 939px) {
      top: 10px;
      left: 10px;
    }
  }

  @media (min-width: 940px) {
    width: 244px;
    max-width: 244px;
    margin: 0 auto 7px;
    padding: 0;

    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
    transition: box-shadow 300ms ease-out;

    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }

    &-inner {
      display: block;
    }

    &-photo {
      position: relative;
      padding: 20px 20px 0;
    }

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;

      min-height: 204px;
      width: 204px;

      padding: 0;
      overflow: hidden;

      & img {
        max-width: 100%;
        height: auto;
      }
    }

    &-discountBadge {
      position: absolute;
      top: 18px;
      left: 21px;

      padding: 4px 7px;

      font-size: 12px;
      line-height: 15px;
      color: #fff;
      border-radius: 3px;
      background: #ED484F;
    }

    &-info {
      min-height: 95px;
      padding: 12px 22px;
    }

    &-title {
      height: 36px;
      max-height: 36px;
      margin: 0 0 12px;

      font-size: 14px;
      line-height: 17px;
      font-weight: 400;

      overflow: hidden;
    }

    &-pricing {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
    }
    &-pricePrev {
      padding-left: 5px;

      font-size: 12px;
      line-height: 15px;
      text-decoration: line-through;
    }
    &-price {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      color: #000;
    }
    &-shipping {
      padding: 0 5px;
      font-size: 12px;
      line-height: 15px;
      margin-left: auto;
    }

    &-raiting {
      & .num {
        font-size: 12px;
        line-height: 15px;
      }
    }

    &-activity {
      width: 100%;

      & .likes {
        padding-right: 12px;
      }
      & .like-widget {
        font-size: 10px;
        line-height: 15px;
        color: #000;
      }
      & .comments-icon {
        font-size: 12px;
        line-height: 15px;
      }
      .save {
        margin-left: auto;
      }
      .save-widget {
        padding: 0;
        position: static;

        svg {
          max-width: 12px;
          max-height: 12px;
        }
        .save-widget__dropdown {
          top: initial;
          bottom: 0px;
          left: initial;
          right: -25px;
        }
      }
    }
  }

}
