@import 'comp-styles/variables';

.CardSm {
  flex: 0 0 150px;
  //height: 210px;
  margin: 0 5px 21px;

  color: #000;
  background: #fff;

  &-seller {
    display: none;
    visibility: hidden;
  }

  &-photo {
    position: relative;

    height: 150px;
    border-radius: 3px;
    overflow: hidden;
  }

  &-img {
    width: 150px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;

    & img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &-modalControl {
    display: none;
    visibility: hidden;
  }

  &-info {
    padding: 7px 0 0;
  }

  &-pricing {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }

  &-price {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: #ed494f;
  }

  &-likesSm {
    margin: 0;
    margin-left: auto;
    font-size: 12px;
    line-height: 15px;
    margin-left: auto;

    & .like-widget {
      margin: 0;

      & svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  &-title {
    margin: 0 0 2px;
    padding: 0;
    height: 15px;
    max-height: 15px;

    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #4a4a4a;

    overflow: hidden;

    & a {
      color: #4a4a4a;
      transition: color 300ms ease-out;
    }

    & a:focus,
    & a:hover {
      color: #ed494f;
    }
  }

  &-activity {
    display: none;
    visibility: hidden;
  }

  @media (min-width: 360px) {
    flex: 0 0 163px;
    margin: 0 8px 21px;

    &-photo {
      height: 163px;
    }

    &-img {
      width: 163px;
      height: 163px;
    }
  }

  @media (min-width: 992px) {
    z-index: 1;
    position: relative;
    flex: 0 0 235px;
    width: 235px;
    height: 354px;
    margin: 0 12px 25px;

    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    overflow: hidden;
    transition: box-shadow 300ms ease-out;

    &:focus,
    &:hover {
      //box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
      overflow: visible;
      z-index: 3;

      & .CardSm-modalControl {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &-wrap {
      position: relative;
      top: -42px;
      right: -10px;
      left: -10px;

      width: 255px;
      height: 405px;
      padding: 0 10px;

      border-radius: 3px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
      background: #fff;

      overflow: hidden;
    }

    &-seller {
      display: block;
      visibility: visible;

      padding: 10px 20px 0;

      & img {
        max-width: 29px;
        max-height: 29px;
      }
    }
    &-sellerInner {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
    }
    &-sellerThumb {
      flex: 0 0 30px;
    }
    &-sellerInfo {
      flex: 1 1 auto;
      padding: 0 7px;

      & .full-rating {
        margin: 0;
        padding: 0;
        font-size: 10px;
      }
    }
    &-sellerName {
      margin: 0;
      padding: 0;

      font-size: 12px;
      line-height: 15px;

      & a {
        color: #000;

        &:hover {
          color: $primary-color;
        }
      }
    }

    &-inner {}

    &-photo {
      position: relative;

      height: 235px;
      padding: 20px;
    }
    &-img {
      width: 195px;
      height: 195px;
    }

    &-modalControl {
      display: block;
      visibility: visible;
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;

      display: flex;
      align-items: center;
      justify-content: center;

      background: rgba(0, 0, 0, 0.42);
      opacity: 0;
      pointer-events: none;
      transition: opacity 300ms ease-in-out;
    }
    &-modalControlBtn {
      display: inline-flex;
      flex: 0 0 140px;
      align-items: center;
      justify-content: center;

      padding: 11px 5px;

      text-align: center;

      border-radius: 3px;
      border: 0;
      background: #fff;
      outline: 0;

      & .icon {
        font-size: 0;

        & svg {
          width: 15px;
          height: 15px;
        }
      }

      & .name {
        padding-left: 10px;

        font-size: 12px;
        line-height: 15px;
      }
    }

    &-info {
      //min-height: 116px;
      padding: 18px 20px 10px;
      border-top: 1px solid #dddddd;
    }

    &-pricing {
      margin: 0;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
    }

    &-price {
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
    }

    &-likesSm {
      display: none;
      visibility: hidden;
    }

    &-title {
      height: 18px;
      max-height: 18px;
      margin: 0 0 7px;

      font-size: 14px;
      line-height: 18px;
      font-weight: 400;

      overflow: hidden;
    }

    &-activity {
      display: block;
      visibility: visible;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      padding: 10px 20px 19px;

      & .likes {
        margin: 0 15px 0 0;

        font-size: 12px;
        line-height: 15px;

        & .like-widget {
          margin: 0;
        }
        & svg {
          width: 15px;
          height: 15px;
          margin-right: 3px;
        }
      }

      & .comments {
        margin: 0 15px 0 0;

        font-size: 12px;
        line-height: 15px;

        & svg {
          width: 15px;
          height: 15px;
          margin-right: 3px;
        }
      }

      & .share {
        font-size: 12px;
        line-height: 15px;

        & .share-widget {
          z-index: 1;
          position: relative;
          top: auto;
          bottom: auto;
          left: auto;
          right: auto;

          font-size: 12px;
          line-height: 15px;

          &:hover {
            & .share-dropdown.horisontal {
              transform: translateX(50%) scaleY(1);
            }
          }
        }

        & .share-dropdown.horisontal {
          bottom: auto;
          top: -25px;
          right: 50%;

          padding: 0;

          transform: translateX(50%) scaleY(0);

          & .share-icon-drop {
            margin: 0;
          }

          & svg {
            margin: 0;
          }
        }

        & svg {
          width: 15px;
          height: 15px;
          margin-right: 3px;
        }
      }

      & .save {
        margin-left: auto;

        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}
