.Card {
  width: 150px;
  max-width: 150px;
  margin: 0 auto 7px;

  color: #fff;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
  background: #fff;

  &-inner {}

  &-photo {
    position: relative;

    padding: 10px 10px 5px;
  }

  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    overflow:hidden;

    & img {
      max-width: 100%;
      height: auto;
    }
  }

  &-discountBadge {
    display: none;
    visibility: hidden;
  }

  &-info {
    //min-height: 95px;
    padding: 0 10px 12px;
  }

  &-title {
    height: 18px;
    max-height: 18px;
    margin: 0 0 3px;

    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    text-align: left;

    overflow: hidden;
  }

  &-pricing {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  &-pricePrev {
    padding-left: 5px;

    font-size: 12px;
    line-height: 15px;
    text-decoration: line-through;
    color: #9B9B9B;
  }
  &-price {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: #ED484F;
  }
  &-shipping {
    display: none;
    visibility: hidden;
  }

  @media (min-width: 720px) {
    width: 244px;
    max-width: 244px;

    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
    transition: box-shadow 300ms ease-out;

    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }

    &-photo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 224px;
    padding: 12px 22px;
     & img {
      max-width: 100%;
      height: auto;
      max-width: 200px;
      max-height: 200px;
    }
  }
   &-discountBadge {
     display: block;
     visibility: visible;
    position: absolute;
    top: 18px;
    left: 21px;
     padding: 4px 7px;
     font-size: 12px;
    line-height: 15px;
    color: #fff;
    border-radius: 3px;
    background: #ED484F;
  }
   &-info {
    min-height: 95px;
    padding: 22px 15px;
    border-top: 1px solid #dddddd;
  }
   &-title {
    //height: 36px;
    max-height: 36px;
    margin: 0 0 12px;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
  }
   &-pricing {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  &-pricePrev {
    padding-left: 5px;
    font-size: 12px;
    line-height: 15px;
    text-decoration: line-through;
  }
  &-price {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ED484F;
  }
  &-shipping {
    display: inline-flex;
    visibility: visible;
    padding: 0 5px;
    font-size: 12px;
    line-height: 15px;
    margin-left: auto;
  }
  }
}
