.CardResponsive {
  width: 140px;
  margin: 0 auto 12px;

  &-inner {}

  &-photo {
    position: relative;
    height: 140px;
    overflow: hidden;
  }

  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    border-radius: 3px;
    overflow: hidden;

    background: #F6F6F6;
    & img {
      max-width: 100%;
      height: auto;
    }
  }

  &-discountBadge {
    position: absolute;
    bottom: 5px;
    left: 5px;

    padding: 4px 7px;

    font-size: 10px;
    line-height: 12px;
    color: #fff;
    border-radius: 3px;
    background: #ED484F;
    z-index: 11;
  }

  &-info {
    padding: 5px 0 3px;
  }

  &-title {
    max-height: 15px;
    margin: 0 0 3px;

    font-size: 12px;
    line-height: 15px;
    font-weight: 400;

    overflow: hidden;
  }

  &-pricing {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  &-pricePrev {
    padding-right: 5px;

    font-size: 10px;
    line-height: 12px;
    text-decoration: line-through;
  }
  &-price {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #ED484F;
  }
  &-shipping {
    display: none;
    padding: 0 5px;
    font-size: 12px;
    line-height: 15px;
    margin-left: auto;

    visibility: hidden;
  }

  &-raiting {
    display: none;
    visibility: hidden;
  }

  @media (min-width: 591px) {
    width: 270px;

    border-radius: 3px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
    transition: box-shadow 300ms ease-out;

    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }

    &-photo {
      width: 270px;
      height: 270px;
      padding: 10px;
    }

    &-img {
      height: 250px;

      border-radius: 0;
    }

    &-discountBadge {
      position: absolute;
      top: 15px;
      left: 15px;
      bottom: auto;
    }

    &-info {
      padding: 12px 10px 15px;

      border-top: 1px solid #dddddd;
    }

    &-title {
      max-height: 19px;
      margin: 0 0 10px;

      font-size: 14px;
      line-height: 19px;
    }

    &-price {
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      color: #ED484F;
    }

    &-pricePrev {
      padding-right: 5px;

      font-size: 12px;
      line-height: 15px;
      text-decoration: line-through;
    }

    &-shipping {
      display: block;

      visibility: visible;
    }

    &-raiting {
      display: block;
      visibility: visible;
      & .num {
        font-size: 10px;
        line-height: 15px;
        color: #666666;
      }
    }
  }
}
