.Category {
  padding: 25px 0;

  &-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &-heading {
    margin: 0 0 7px;
  }
  &-title {
    margin: 0 0 7px;
    padding: 0 0 2px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
  }
  .Spinner {
    width: 100%;
  }

  &-notFound {
    margin: 25px 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: 500;
  }

  &-contentInner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  &-btnOpenDrawer {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 0 19px;
    padding: 5px 12px;

    font-size: 14px;
    line-height: 16px;
    color: #000;

    outline: 0;
    border-radius: 3px;
    border: 1px solid #000;
    background-color: transparent;

    & svg {
      width: 16px;
      height: 16px;

      margin: 0 5px 0 0;
    }
  }

  &-btnCloseDrawer {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 7px;
    padding: 5px 12px;

    font-size: 14px;
    line-height: 16px;
    color: #000;

    outline: 0;
    border-radius: 3px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;

    & svg {
      width: 16px;
      height: 16px;

      margin: 0 5px 0 0;
    }
  }


  @media (min-width: 640px) {
    padding: 15px 0;
  }

  @media (min-width: 767px) {
    &-title {
      border-bottom: 2px solid #ed484f;
    }
  }

  @media (min-width: 850px) {
    &-heading {
      margin: 0 0 19px;
    }

    &-title {
      margin: 0 0 15px;
    }

    &-inner {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: flex-start;

      padding: 12px 0;
    }

    &-colFilters {
      position: relative;
      flex: 0 0 270px;
    }

    &-colContent {
      position: relative;
      flex: 1 1 auto;
    }
  }
}
