.Checkbox {
  display: inline-flex;
  flex-wrap: wrap;
  cursor: pointer;
  margin-bottom: 15px;

  &-input {
    display: none;

    &:checked ~ {
      .Checkbox {
        &-icon:before {
          opacity: 1;
        }
      }
    }
  }
  &-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ED484F;
    position: relative;
    transition: all .3s ease;
    margin-right: 10px;
    margin-top: 2px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #ED484F;
      opacity: 0;
      transition: all .3s ease;
    }
  }
  &-label {
    font-size: 14px;
    font-weight: 300;
    color: #000;

    svg {
      width: 100%;
    }
  }
  &-additional {
    margin-left: 40px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(#000, .9);

    @media (max-width: 767px) {
      margin-left: 25px;
    }
  }
}