@import "../variables";

.Comments {
  padding: 20px 0;

  &-items {
    max-height: 540px;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-viewAll {
    margin-bottom: 5px;
  }
  &-viewAllBtn.ant-btn {
    font-size: 12px;
    color: $color-warm-grey;
  }

  &-form {
    border-width: 1px 0;
    border-style: solid;
    border-color: $hr-color;
    padding: 10px 20px;
  }

  &-formInner {
    display: flex;
    align-items: center;
  }

  &-formThumb {
    flex: 0 0 40px;
    height: 40px;
    overflow: hidden;

    & .Avatar {
      border-radius: 50%;
    }

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &-formBody {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  &-formText {
    flex: 1 1 auto;
    padding-left: 10px;

    & textarea {
      border: none;
      resize: none;
      width: 100%;
      transition: height .5s;
      background: none;
      color: $main-text-color;
      &::placeholder {
        color: $grey;
      }
    }
  }

  &-formSubmit {
    flex: 0 0 24px;
  }

  &-replyTo {
    display: flex;
    align-items: center;
    border-top: 1px solid $hr-color;
    color: $main-text-color;
    padding: 7px 20px;
    font-size: 12px;
    width: 100%;
    height: 43px;
    visibility: visible;
    box-sizing: border-box;
    transition: height 0.3s, visibility 0.2s ease 0.2s, padding 0s ease 0s;

    &.is-invisible {
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      visibility: hidden;
      transition: height 0.2s, visibility 0.1s ease 0s, padding 0s ease 0.5s;
    }
  }

  &-replyToText {
    color: $color-warm-grey;
  }

  &-userName {
    flex-grow: 1;
  }

  &-closeBtn {
    width: 28px;
    height: 28px;
    border: none;
    padding: 10px;
    position: relative;
    background: none;
    margin-left: 10px;
    margin-right: -10px;

    &:hover {
      &:before, &:after {
        border-color: $accent-color;
      }
    }

    &:before, &:after {
      position: absolute;
      left: 10px;
      top: 10px;
      height: 11px;
      content: '';
      border-left: 1px solid $main-text-color;
    }

    &:before {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:after {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &-formSubmitBtn {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #ed484f;
    border-radius: 3px;
    text-align: center;
    background: #ed484f;
    outline: 0;
    transition: all .3s ease;

    &.withIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin: 0 auto;
      padding: 2px;
      border-radius: 50%;

      & svg {
        width: 18px;
        height: 18px;
        margin: 0 0 0 3px;
      }
    }
    &--disabled {
      border: 1px solid #ccc;
      background: #ccc;
      cursor: not-allowed;
    }
  }

  &-viewAllBtn {
    margin: 0;
    padding: 0 3px;
    font-size: 12px;
    line-height: 15px;
    color: #818181;
    border: none;
    background-color: transparent;
    transition: color 300ms ease-out;

    &:focus,
    &:hover {
      color: #000;
    }
  }
}

.Comment {
  color: $main-text-color;
  padding: 10px 0 7px;

  & .Comment {
    padding-left: 40px;
    margin-top: 7px;
    padding-bottom: 0;
  }

  &:not(:first-child) {
    border-top: 1px solid $hr-color;
  }

  &-thumb {
    flex: 0 0 40px;
    height: 40px;
    margin-right: 10px;
    overflow: hidden;

    & .Avatar {
      border-radius: 50%;
    }

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &-content {
    flex: 1 1 auto;
    padding: 0 5px;
  }

  &-body {
    & .author {
      padding-right: 5px;
      font-weight: 500;
    }
  }

  &-header {
    display: flex;
  }

  &-headerContent {
      flex-grow: 1;
  }

  &-activity {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 2px;
  }
    & .like-widget {
      margin-left: 0;
      & svg {
        width: 10px;
        height: 10px;
        fill: #000;
      }

      & .-count {
        font-size: 11px;
        line-height: 14px;
      }
    }

  &-replies {
    font-size: 11px;
    line-height: 14px;
    color: #656565;
  }

  &-repliesBtn.ant-btn {
    color: $color-warm-grey;
    font-size: 11px;
  }

  &-repliesBtn {
    border: 0;
    background: transparent;
    padding: 0;
  }

  &-date {
    font-size: 12px;
    color: $color-warm-grey;
    margin-left: auto;
  }

  &-inner {
    display: flex;
  }
}
