@import "../variables";

@mixin tablet768 {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phone640 {
  @media screen and (max-width: 640px) {
    @content;
  }
}

.Comments-icon {
  display: flex;
  align-self: center;
  cursor: pointer;
  line-height: 15px;

  svg {
    width: 18px;
    height: 18px;
    fill: #888888;
    margin-right: 5px;
  }

  &:hover {
    svg {
      fill: #ed484f;
      margin-right: 5px;
    }
  }
}

.ant-modal {
  max-width: 1000px;
  margin: 0 !important;
  width: 100% !important;
  padding: 0 !important;
  top: 0 !important;
  position: static !important;

  &-wrap {
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  &-mask {
    padding: 0;
    max-height: 100vh;
  }

  &-close-x {
    background: #fff;
  }

  .ant-modal-body {
    padding: 0;
  }

  .ProductComments {
    display: flex;
    max-height: 600px;
    margin-top: 0;

    &-list {
      width: 400px;
      max-height: 540px;
      overflow-y: auto;
      margin-top: 60px;
      padding: 0 20px 20px;
      flex-grow: 1;
    }

    &-preview {
      min-height: 600px;
      width: 60%;
      background-size: cover;
    }

    &-data {
      width: 40%;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
    }

    &-item {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      &.is-reply {
        max-width: calc(100% - 50px);
        margin-left: auto;
      }
    }

    &-item:not(:first-child) {
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      padding-top: 10px;
      margin-top: 10px;
    }

    &-thumb {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
    }

    &-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    &-info {
      width: calc(100% - 40px);
      padding-left: 10px;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &-name {
      font-size: 16px;
      color: #000;
      line-height: 1.3;
      order: 1;
    }

    &-infoBottom {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      order: 3;
    }

    .like-widget {
      margin: 0;

      svg {
        max-height: 10px;
        max-width: 10px;
        fill: #000;
      }

      .-count {
        font-size: 10px;
        color: #000;
      }
    }

    &-reply {
      margin-left: 15px;
      font-size: 12px;
      color: #9b9b9b;
      cursor: pointer;
    }

    &-date {
      order: 2;
      margin-left: auto;
      font-size: 12px;
      color: #9b9b9b;
      line-height: 1;
    }

    &-text {
      margin-top: 8px;
      font-size: 14px;
      color: #000;
      line-height: 1.3;
    }

    &-replies {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 10px;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      padding-top: 10px;
    }

    &-replyTo {
      display: flex;
      align-items: center;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      color: $main-text-color;
      white-space: nowrap;
      padding: 10px 20px;
      font-size: 12px;
      width: 100%;
      height: 49px;
      visibility: visible;
      box-sizing: border-box;
      transition: height 0.3s, visibility 0.2s ease 0.2s, padding 0s ease 0s;

      &.is-invisible {
        height: 0;
        padding: 0;
        visibility: hidden;
        transition: height 0.2s, visibility 0.1s ease 0s, padding 0s ease 0.5s;
      }
    }

    &-replyToText {
      color: $color-warm-grey;
    }

    &-userName {
      flex-grow: 1;
    }

    &-form {
      border-width: 1px 0;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.05);
      display: flex;
      align-items: center;
      padding: 10px 0;
      margin: 0 20px 20px 10px;
      max-width: calc(100% - 30px);

      .btn-send {
        width: 24px;
      }
    }

    &-formInput {
      flex-grow: 1;
      margin: 0 10px;
      border: none;
      resize: none;
      transition: height .5s;
      width: calc(100% - 64px);
      height: 35px !important;
      line-height: 30px;

      &.is-disabled, &[disabled] {
        background: none;
        pointer-events: none;
      }

      &::placeholder {
        color: $grey;
      }
    }

    &-formButton {
      margin-left: 10px;
      padding: 0 18px;
      height: 25px;
    }

    &-closeBtn {
      width: 28px;
      height: 28px;
      border: none;
      padding: 10px;
      position: relative;
      background: none;
      margin-left: 10px;
      margin-right: -10px;

      &:hover {
        &:before, &:after {
          border-color: $accent-color;
        }
      }

      &:before, &:after {
        position: absolute;
        left: 10px;
        top: 10px;
        height: 11px;
        content: '';
        border-left: 1px solid $main-text-color;
      }

      &:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  .Comments {
    margin: 60px 0 0;
    width: 100%;
    height: calc(100% - 60px);
    box-shadow: none;
    background: transparent;
    padding: 0;

    &-wrapper {
      padding-bottom: 60px;
    }

    &-items {
      border-bottom: 0;
      max-height: 480px;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
    }

    &-form {
      padding: 9px 20px;
      border-top: 1px solid rgb(228, 228, 228);
      border-bottom: 1px solid rgb(228, 228, 228);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fff;
    }

    &-formThumb {
      padding: 0;
      width: 40px;
      height: 40px;
    }

    &-formThumbImg {
      width: 40px;
      height: 40px;
    }

    &-formText {
      padding: 0 0 0 10px;

      textarea {
        padding: 0;
        font-size: 12px;
        height: 18px;

        &::placeholder {
          color: rgb(129, 129, 129);
        }
      }
    }

    &-formSubmit {
      padding: 0;
      flex: 0 0 70px;
    }

    &-formSubmitBtn {
      height: 25px;
      position: relative;
      border-radius: 12px;
      width: 100%;

      &:before {
        content: 'Post';
        font-size: 12px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      svg {
        display: none;
      }
    }

    &-item {
      padding: 0;

      &:not(:first-child) .Comment {
        border-top: 1px solid rgb(228, 228, 228);
      }
    }
  }

  .Comment {
    &-thumbImg {
      width: 40px;
      height: 40px;
    }

    &-inner {
      position: relative;
      flex-wrap: wrap;
    }

    &-date {
      position: absolute;
      top: 0;
      right: 0;
    }

    &-repliesBtn {
      padding: 0;
      margin-left: 15px;
    }

    &-thumb {
      padding: 0;
    }

    &-content {
      padding: 0 0 0 10px;
    }

    .text {
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      color: #000;
      margin-top: 8px;
    }
  }
}

@include tablet768 {
  .ant-modal {
    .ProductComments {
      &-preview {
        min-height: 400px;
        height: 400px;
      }

      &-list {
        max-height: 340px
      }
    }
  }
}

@include phone640 {
  .ant-modal {
    top: 0 !important;

    .ant-modal-body {
      max-height: none;

      .ProductComments {
        display: block;


        &-preview {
          width: 100%;
        }

        &-list {
          width: 100%;
          margin-top: 20px;
          max-height: 600px;
        }
      }
    }
  }
}
