.Error {
  padding: 75px 0;

  text-align: center;

  background: #f6f6f7;

  &-wrapper {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &-title {
    margin: 0 0 12px;

    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #000;
  }

  &-subtitle {
    margin: 0 0 12px;

    font-size: 18px;
    line-height: 32px;
    color: #333;

    & p {
      margin: 0;
    }
  }

  &-contact {
    margin: 0 0 12px;

    font-size: 18px;
    line-height: 26px;
    color: #333;
  }
  &-contactMail {
    font-weight: 600;
  }

  &-link {
    margin: 24px 0 0;

    text-align: center;
  }
  &-linkBtn {
    max-width: 230px;
    margin: 0 auto;
    padding: 10px 15px;

    font-size: 16px;
    line-height: 21px;

    border-radius: 3px;

    &:focus,
    &:hover {
      color: #fff;
    }
  }
}
