@import "comp-styles/variables";

.FollowList {
  height: 100%;

  &-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &-heading {
    flex: 0 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 12px 15px;
  }

  &-closeBtn {
    flex: 0 0 auto;

    margin: 0;
    padding: 0 5px;

    background: none;
    outline: 0;
    border: 0;
  }

  &-title {
    margin: 0 auto;

    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
    color: #000;
  }

  &-itemsList {
    flex: 1 1 auto;
    padding: 10px 15px;
    overflow-y: auto;
  }

  @media (min-width: 375px) {
    &-heading {
      padding: 12px 20px;
    }

    &-itemsList {
      padding: 10px 20px;
    }
  }
  .follow {
    flex: 0 0 auto;
    padding: 5px 10px;
    min-width: 90px;

    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    min-height: 30px;

    border-radius: 15px;
    border: 1px solid $primary-color;
    background: $primary-color;

    svg {
      display: none;
    }
    &.grey {
      color: $color-warm-grey;
      border-color: $color-warm-grey;
      background: #fff;
    }
    .preloader {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        display: initial;
        max-width: 15px;
        max-height: 15px;
      }
    }
  }
}
