.greeting-location__change {
  position: relative;
  margin-top: 5px;

  font-size: 14px;
  line-height: 1.5;
  color:#d24147;

  background-color: transparent;
  border: 0;
  outline: 0;

  & svg {
    width: 14px;
    height: 14px;
    margin-left: 7px;
  }
}
.greeting-locations {
  //position: fixed;
  //bottom: 65px;
  //top: auto;

  padding: 5px 0;

  color: #000;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #e4e4e4;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;

    margin: 0;
    padding: 7px 12px;

    border-bottom: 1px solid #e4e4e4;

    transition: background-color 300ms ease-out;
    cursor: pointer;

    &:last-child {
      border-bottom: 0;
    }
    
    &:hover {
      background-color: #e4e4e4;
    }

    & .icon {
      margin-right: 7px;
      font-size: 0;

      & svg {
        width: 18px;
        height: 18px;
      }
    }

    & .name {
      font-size: 15px;
      line-height: 18px;
      color: #000;
    }
  }
}

.greeting-popup {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;
}
.greeting-info, .greeting-list, span.container {
    display: flex;
    justify-content: space-around;

}
span.container {
    align-items: center;
}

.greeting-info {
    background-color: #fff;
    padding: 25px 0;
    h4 {
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
    }
    .country-benefits {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 33%;
        border-right: 1px solid #e4e4e4;
    }
    .country-benefits__list {
        padding-left: 0;
        list-style: none;
        margin: 0;
        li {
            margin: 10px 0;
        }
    }
    .payment-methods {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33%;
        svg {
            margin: 0 10px;
        }
    }
    .greeting-location {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 33%;
        border-right: 1px solid #e4e4e4;

        .location {
            display: flex;
            align-items: center;
            .country {
                margin-left: 10px;
            }
        }
        .btn {
            margin-top: 15px;
        }
    }
}

.greeting-list {
    padding: 15px 0;
    margin: 0;
    list-style: none;
    background-color: #e4e4e4;

    .greeting-list__element {
        color: #201e1e;
        a {
            color: #201e1e;
            &:hover {
                color: #ed484f;
            }
        }
        &:last-child {
            cursor: pointer;
            font-size:2em;

            &:hover {
                color: #ed484f;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .greeting-list{
        .container {
            justify-content: space-between;
        }
        .greeting-list__element {
            display: none;
            &:nth-child(1), &:last-child {
                display: flex;
            }
        }
    }
    .greeting-info {
        .container {
            flex-direction: column;
            .greeting-location, .country-benefits, .payment-methods {
                width: 100%;
                border-right: 1px solid transparent;
                justify-content: flex-start;
                align-items: flex-start;
            }
            .greeting-location {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 25px;
                border-bottom: 1px solid #e4e4e4;
            }
            .greeting-location__change {
                margin-top: 0;
            }
            .country-benefits {
                padding-top: 25px;
                margin-bottom: 20px;
            }
        }
    }
}
