@mixin display1600 {
    @media screen and (max-width: 1600px) {
        @content;
    }
}

@mixin display1400 {
    @media screen and (max-width: 1400px) {
        @content;
    }
}

@mixin display1200 {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 1080px) {
        @content;
    }
}

@mixin tablet768 {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone640 {
    @media screen and (max-width: 640px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin phone320 {
    @media screen and (max-width: 320px) {
        @content;
    }
}

.feed-wrapper {
    display: flex;
    align-items: flex-start;
}

.pagination.container {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    margin: 20px auto 20px auto;
    .pagintaion-wrapper {
        display: flex;
        align-items: center;
        padding-left: 0;
        list-style: none;
        justify-content: space-between;
        width: 100%;
        max-width: 500px;
        .pagination-element {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            min-width: 30px;
            min-height: 30px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            a {
                color: #201e1e;
                &:hover {
                    color: #ed484f;
                }
            }
            &.active {
              & a {
                color: #fff;
              }
            }
            &.next, &.prev {
                padding: 0;
            }
            &.next {
                transform: rotate(-90deg)
            }
            &.prev {
                transform: rotate(90deg)
            }
            &.active {
                background-color: #ed484f;
                color: #fff;
            }
        }
        .pagination-next, .pagination-prev {
            a {
                color: #201e1e;
                &:hover {
                    color: #ed484f;
                }
            }
        }
    }
}
@include tablet768() {
    .pagination.container {

    }
}
@include phone {
    .pagination .pagintaion-wrapper {
        max-width: 210px;
    }
    .pagination .pagintaion-wrapper .pagination-element.number {
        display: none;
    }
}
