.PostCard {
  flex: 0 0 46%;
  margin: 0 2% 10px;

  color: #000;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);

  &-header {

    padding: 5px 10px;

    & a {
      display: inline-flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;

      margin: 0;
      padding: 0;
    }
  }

  &-logo {
    position: relative;
    flex: 0 0 36px;
    height: 36px;
    margin: 0 10px 0 0;


    border-radius: 50%;
    border: 1px solid #979797;
    overflow: hidden;

    & img {
      width: 35px;
      height: 35px;

      object-fit: cover;
      object-position: center;
    }
  }

  &-author {
    position: relative;
    flex: 0 0 auto;

    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #000;
  }

  &-sellerRate {
    margin: 3px 0 0;

    font-size: 0;
    line-height: 0;

    & svg {
      width: 11px;
      height: 11px;
    }

    & .ant-rate-star {
      margin-right: 2px;
    }
  }

  &-media {
    height: 150px;

    overflow: hidden;

    & img {
      width: 100%;
      height: auto;

      object-fit: cover;
      object-position: center;
    }
  }

  &-activity {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    padding: 5px 15px;
  }

  &-purchases {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    & svg {
      width: 14px;
      height: 14px;
      margin: 0 5px 0 0;
    }

    & span {
      font-size: 12px;
      line-height: 14px;
      color: #000;
    }
  }

  &-likes {
    position: relative;
    flex: 0 0 auto;

    & .like-widget {
      margin: 0;

      & svg {
        width: 14px;
        height: 14px;

        margin: 0 5px 0 0;
      }

      & .-count {
        font-size: 12px;
        line-height: 14px;
        color: #000;
      }
    }
  }

  @media (min-width: 375px) {
    flex: 0 0 172px;
    margin: 0 5px 10px;
  }

  @media (min-width: 610px) {
    flex: 0 0 275px;
    width: 275px;
    margin: 0 15px 30px;

    &-header {
      padding: 11px 15px;
    }

    &-logo {
      position: relative;
      flex: 0 0 44px;
      height: 44px;

      & img {
        width: 43px;
        height: 43px;
      }
    }

    &-author {
      font-size: 16px;
      line-height: 19px;
    }

    &-media {
      height: 245px;
    }

    &-activity {
      padding: 12px 15px;
    }
  }
}
