.ProductCardModal {
  display: none;
  visibility: hidden;

  width: 260px;
  height: 280px;

  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: #fff;
  transform: translateY(-25%);
  transition: transform 300ms ease-in;

  &.is-active {
    z-index: 99;
    position: absolute;
    right: 0;
    bottom: 0;

    display: block;
    visibility: visible;
    transform: none;
  }

  &-dialogWrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-dialog {
    width: 425px;
    max-width: 100%;

    & .rc-dialog-content {
      border-radius: 2px;
    }

    & .rc-dialog-body {
      margin: 15px auto 80px;
      padding: 35px 50px;
    }

    & .title {
      margin: 0 0 12px;

      font-size: 24px;
      line-height: 32px;
      color: #000;
      font-weight: 500;
      text-align: center;
    }

    & .subtitle {
      margin: 0 0 15px;

      font-size: 15px;
      line-height: 22px;
      color: #8b8b8b;
      text-align: center;
    }

    & .input {
      margin: 0 0 15px;

      & input {
        display: block;
        width: 100%;
        padding: 9px 15px;
        font-size: 15px;
        line-height: 19px;
        border: 1px solid #dedede;
        border-radius: 3px;
        background: #fff;
      }
    }

    & .Btn {
      display: block;
      width: 100%;
      margin: 0;
      padding: 9px 15px;

      font-size: 15px;
      line-height: 19px;
      font-weight: 500;
      color: #fff;

      border-radius: 3px;
      background: #ed484f;
    }
  }

  &-wrap {
    position: relative;

    padding-top: 25px;
  }

  &-close {
    position: absolute;
    top: 8px;
    right: 14px;
  }

  &-closeBtn {
    position: relative;

    display: block;
    width: 12px;
    height: 12px;

    background: none;
    outline: 0;
    border: 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;

      display: block;
      width: 16px;
      height: 1px;

      background: #000;

      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &-content {

    & .react-tabs .react-tabs__tab-list {
      margin: 0!important;

      border-bottom: none!important;

      & .react-tabs__tab {
        flex: 0 0 50%!important;
        margin: 0!important;
        padding: 6px 12px!important;

        font-size: 12px!important;
        line-height: 15px!important;
        color: #000!important;
        font-weight: 500!important;

        border-bottom: 1px solid transparent!important;
        background: #fff!important;

        &--selected {
          color: #000!important;
          border-bottom: 1px solid #ed484f!important;
          background: #fff!important;
          &:hover {
            color: #000!important;
            background: #fff!important;
          }
        }
      }
    }
  }

  &-tab {
    & .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;

      padding: 10px 15px 9px;

      border-bottom: 1px solid #dddddd;

      & span {
        padding: 0 5px;
        font-size: 14px;
        line-height: 18px;
        color: #000;
        font-weight: 500;

        &.link {
          font-size: 12px;
          line-height: 15px;
          font-weight: 400;
          color: #333;

          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    & .content {
      height: 140px;
      max-height: 140px;

      overflow-x: auto;

      &::-webkit-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-track {
        background: #f6f6f6;
      }
      &::-webkit-scrollbar-thumb {
        background: #dedddd;
      }
    }
  }

  &-content {

  }

  &-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    padding: 7px 0;
  }

  &-controlsItem {
    flex: 0 0 50%;
    padding: 0 6px;
    & .Btn {
      display: block;
      width: 100%;
      margin: 0;
      padding: 9px 12px;

      font-size: 14px;
      line-height: 18px;
      color: #000;

      border-radius: 3px;
      border: 0;
      background: #dedddd;

      &.primary {
        color: #fff;
        background: #ed484f;
      }
    }
  }
}
