@import './../../comp-styles/variables';

.ProductMinView {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background: #fff;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.07);
    
    button {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12px;
    }
    &-photo {
        position: relative;
        width: 72px;
        height: 72px;
        text-align: center;
        
        img {
            max-width: 72px;
            max-height: 72px;
        }
    }
    
    &-info {
        flex-grow: 1;
    }
    
    &-title {
        font-size: 12px;
        font-weight: 600;
    }
    
    &-rating {
        svg {
            width: 10px !important;
            height: 12px !important;
        }
    }
    
    &-feedbackCount {
        color: $color-warm-grey;
        margin-left: 5px;
        font-size: 13px;
    }
    
    &-price {
        font-weight: 600;
    }
    
    &-pricePrev {
        font-weight: 600;
        margin-right: 10px;
    }
    
    &-pricing.is-discount {
        .ProductMinView-price {
            opacity: 0.7;
            font-size: 12px;
            text-decoration: line-through;
            font-weight: 400;
        }
    }
}
