@import 'comp-styles/variables';

.ProductCard {
  flex: 0 0 150px;
  //height: 210px;
  margin: 0 5px 25px;

  color: #000;
  background: #fff;
  overflow: hidden;

  &-seller {
    display: none;
    visibility: hidden;
  }

  &-photo {
    position: relative;

    height: 150px;
    border-radius: 3px;
    overflow: hidden;
  }
  &-img {
    width: 150px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;

    & img {
      max-width: 100%;
      height: auto;
      max-width: 150px;
    }
  }
  &-discountBadge {
    display: inline-flex;

    position: absolute;
    bottom: 0;
    left: 0;

    padding: 4px 7px;

    font-size: 10px;
    line-height: 12px;
    color: #fff;
    border-radius: 3px;
    background: #ED484F;
  }

  &-info {
    padding: 7px 0 0;
  }

  &-pricing {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 3px;
  }
  &-pricePrev {
    padding-right: 5px;

    font-size: 13px;
    line-height: 16px;
    text-decoration: line-through;
    color: #9b9b9b;
  }
  &-price {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #ed494f;
  }
  &-shipping {
    display: none;
    visibility: hidden;
  }
  &-shippingSm {
    margin: 0 0 1px;
    font-size: 10px;
    line-height: 12px;
  }
  &-likesSm {
    margin: 0;
    margin-left: auto;
    font-size: 12px;
    line-height: 15px;
    margin-left: auto;

    & .like-widget {
      margin: 0;
    }
  }

  &-title {
    margin: 0 0 3px;
    padding: 0;
    height: 18px;
    max-height: 18px;

    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    color: #000;

    overflow: hidden;

    & a {
      color: #000;
      transition: color 300ms ease-out;
    }

    & a:focus,
    & a:hover {
      color: #ed494f;
    }
  }

  &-raiting .full-rating {
    margin: 0;
    font-size: 0;

    & .num {
      display: inline-block;
      vertical-align: middle;
      padding-right: 3px;

      font-size: 11px;
      line-height: 13px;
      color: #666666;
    }

    & .widget-ratings {
      vertical-align: middle;
    }
  }

  &-controls {
    display: none;
    visibility: hidden;
  }

  &-activity {
    display: none;
    visibility: hidden;
  }

  @media (min-width: 992px) {
    z-index: 1;
    position: relative;
    flex: 0 0 270px;
    width: 270px;
    height: 410px;
    margin: 0 5px 45px;

    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    overflow: hidden;

    &:hover {
      overflow: visible;
      z-index: 3;

      & .ProductCard-controls {
        max-height: 65px;
        padding-top: 8px;
        padding-bottom: 15px;
      }
    }

    &-wrap {
      position: relative;
      top: -36px;
      right: -10px;
      left: -10px;

      width: 290px;
      height: 502px;

      border-radius: 3px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      background: #fff;

      overflow: hidden;
    }

    &-inner {}

    &-seller {
      display: block;
      visibility: visible;

      padding: 5px 30px 0;

      & img {
        max-width:29px;
        max-height:29px;
      }
    }
    &-sellerInner {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
    }
    &-sellerThumb {
      flex: 0 0 30px;
    }
    &-sellerInfo {
      flex: 1 1 auto;
      padding: 0 7px;

      & .full-rating {
        margin: 0;
        padding: 0;
        font-size: 10px;
      }
    }
    &-sellerName {
      margin: 0;
      padding: 0;

      font-size: 12px;
      line-height: 15px;
    }

    &-photo {
      position: relative;

      padding: 15px 30px;
      height: 260px;
      overflow: hidden;
    }
    &-img {
      width: 230px;
      height: 230px;

      & img {
        max-width: 230px;
      }
    }

    &-discountBadge {
      top: 22px;
      left: 38px;
      bottom: auto;

      font-size: 12px;
      line-height: 15px;
    }

    &-info {
      min-height: 116px;
      padding: 7px 30px 14px;
      border-top: 1px solid #dddddd;
    }

    &-pricing {
      margin: 0 0 5px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
    }
    &-pricePrev {
      padding-right: 3px;

      font-size: 15px;
      line-height: 19px;
      text-decoration: line-through;
    }
    &-price {
      font-size: 21px;
      line-height: 24px;
      font-weight: 400;
    }
    &-shipping {
      display: inline-flex;
      visibility: visible;
      padding: 0 5px;
      font-size: 12px;
      line-height: 15px;
    }
    &-likesSm {
      display: none;
      visibility: hidden;
    }

    &-title {
      height: 36px;
      max-height: 36px;
      margin: 0 0 10px;

      font-size: 14px;
      line-height: 18px;
      font-weight: 500;

      overflow: hidden;
    }

    &-raiting {
      display: block;
      visibility: visible;

      & .num {
        font-size: 12px;
        line-height: 15px;
        color: #666666;
      }
    }

    &-controls {
      display: block;
      visibility: visible;

      position: relative;
      max-height: 0;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      transition: 300ms ease-out;
      overflow: hidden;
    }
    &-controlsItem {
      flex: 0 0 50%;
      padding: 0 5px;
    }
    &-controlsBtn {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      margin: 0;
      padding: 7px 12px;

      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      text-align: center;
      color: #000;

      border-radius: 25px;
      border: 0;
      background: #f6f6f6;
      outline: 0;

      transition: box-shadow 300ms ease-out;
      cursor: pointer;

      &:hover {
        color: #ed484f;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
      }

      &--buy {
        color: #fff;
        background: #ed484f;

        &:focus,
        &:hover {
          color: #fff;
          background: #ed484f;
        }

        & .icon-basket{
          margin-right: 5px;

          display: inline-flex;

          & svg {
            width: 16px;
            height: 16px;

            fill: #fff;
          }
        }
      }

    }

    &-activity {
      display: block;
      visibility: visible;

      position: relative;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      padding: 9px 30px;

      border-top: 1px solid #dddddd;

      & .likes {
        margin: 0 15px 0 0;

        font-size: 12px;
        line-height: 15px;

        & .like-widget {
          margin: 0;
        }
        & svg {
          width: 15px;
          height: 15px;
          margin-right: 3px;
        }
      }

      & .comments {
        margin: 0 15px 0 0;

        font-size: 12px;
        line-height: 15px;

        & svg {
          width: 15px;
          height: 15px;
          margin-right: 3px;
        }
      }

      & .share {
        font-size: 12px;
        line-height: 15px;

        & .share-widget {
          z-index: 1;
          position: relative;
          top: auto;
          bottom: auto;
          left: auto;
          right: auto;

          font-size: 12px;
          line-height: 15px;

          &:hover {
            & .share-dropdown.horisontal {
              transform: translateX(50%) scaleY(1);
            }
          }
        }

        & .share-dropdown.horisontal {
          bottom: auto;
          top: -25px;
          right: 50%;

          padding: 0;

          transform: translateX(50%) scaleY(0);

          & .share-icon-drop {
            margin: 0;
          }

          & svg {
            margin: 0;
          }
        }

        & svg {
          width: 15px;
          height: 15px;
          margin-right: 3px;
        }
      }

      & .save {
        margin-left: auto;

        font-size: 12px;
        line-height: 15px;

        & .save-widget {
          padding: 0;

          & span {
            padding: 0;
            font-size: 0;
            line-height: 0;
          }

          & span.normal-dropdown__selectedValue {
            font-size: 12px;
            line-height: 15px;
          }

        }

        & .save-widget__dropdown {
          top: auto;
          right: -9px;
          bottom: 100%;
          left: auto;
        }

        & svg {
          width: 15px;
          height: 15px;
          margin: 0;
        }
      }
    }
  }
}
