@import 'comp-styles/variables.scss';

.ProgressBar {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 10px;

  &-progress {
    background: $primary-color;
    transition: width 0.2s linear;
  }
}
