.RadioList {
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 10px;

    color: #4c4c4c;
    background: #fff;

    &.is-selected {
      color: #000;
      background: #ddd;

      & .name {
        color: #000;
      }
    }

    &.is-disabled {
      color: #b2b2b2;

      & .label {
        cursor: default;
      }

      & .name {
        color: #b2b2b2;
      }
    }

    & .label {
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px;

      cursor: pointer;
    }

    & input {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
    }

    & .name {
      display: inline-flex;

      font-size: 12px;
      line-height: 15px;
      color: #4c4c4c;
    }

    & .colorBox {
      display: inline-flex;
      width: 14px;
      height: 14px;
      margin-right: 6px;

      border-radius: 50%;
      border: 1px solid #958f8f;
    }

    & .notify {
      flex: 0 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & .notify-title {
      display: inline-flex;

      font-size: 10px;
      line-height: 12px;
      color: #e83e46;
    }
    & .notify-btn {
      display: inline-flex;
      margin-left: 6px;
      padding: 4px 9px;

      font-size: 10px;
      line-height: 12px;
      font-weight: 500;
      color: #141414;

      border-radius: 25px;
      border: 1px solid #d0d0d0;
      background: #d0d0d0;

      transition: background 300ms ease-out;
      cursor: pointer;
      &:hover {
        background: #fff;
      }
    }
  }
}
