@import "../variables";
@mixin tablet {
    @media screen and (max-width: 1080px) {
        @content;
    }
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

.save-widget {
    color: $main-text-color;

    .save-widget__controlBtn {
      cursor: pointer;
    }

    .dropdown-inner {
        &.bottom {
            &:before {
                right: 51px;
                left: auto;
            }
        }
        .save-widget__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 14px;
            h3 {
                margin: 0;
                font-size: 16px;
                font-weight: 600;
            }
        }
        .save-widget__categories {
            position: relative;

            .checkbox {
                margin: 5px 0;

                label {
                    padding-left: 30px;
                }
            }

            .Spinner {
                position: absolute;
                right: 0;
                left: 0;
                text-align: center;
            }

            .show-more {
                text-align: center;
                color: #ed484f;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
            .save-widget__search-icon {
                transform: revert;
                position: absolute;
                top: 9px;
                left: 10px;
                svg {
                    fill: $grey;
                    -moz-transform: scaleX(-1);
                    -o-transform: scaleX(-1);
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                    filter: FlipH;
                    -ms-filter: "FlipH";
                }
            }
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $grey;
                opacity: 1; /* Firefox */
            }

            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $grey;
            }

            ::-ms-input-placeholder { /* Microsoft Edge */
                color: $grey;
            }
            .react-autosuggest__container {
                .react-autosuggest__input {
                    display: block;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px 15px 6px 35px;
                    background-color: #f7f7f7;
                    border: none;
                    font-size: 15px;
                    line-height: 21px;

                }
                .scrollbar-container {
                    max-height: 150px;
                    margin: 0px 0 0px 0;
                    padding: 7px 0px 0px 0px;

                    .react-autosuggest__suggestions-container {
                        width: 100%;

                        .react-autosuggest__suggestions-list {
                            padding-left: 0;
                            width: 100%;
                            margin-bottom: 0;

                            .react-autosuggest__suggestion {
                                list-style: none;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .save-widget__category {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 7px 0;

                .ant-checkbox-wrapper {
                  flex: 1 1 auto;
                  padding-right: 15px;
                }

                .ant-checkbox-wrapper .ant-checkbox + span,
                .ant-checkbox-wrapper .ant-checkbox .ant-checkbox + span {
                  padding: 0 0 0 19px;
                  font-size: 15px;
                  line-height: 21px;
                }

                .save-widget__category-type {
                  flex: 0 0 auto;
                    width: 18px;
                    height: 18px;

                    svg {
                        border: 1px solid transparent;
                        fill: #999999;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .save-widget__new-list {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 15px 10px;
        font-size: 14px;
        line-height: 16px;
        color: $color-warm-grey;
        cursor: pointer;
        transition: color 350ms ease-in;
        &:hover {
            color: #ed484f;

            svg {
              fill: #ed484f;
            }
        }
        svg {
            width: 16px;
            height: 16px;
            fill: #b7b7b7;
            margin-right: 12px !important;
            transition: fill 350ms ease-in;
        }
    }

    .notification {
        top: 73px;
        .notification-content {
            max-width: 150px;
        }
        svg {
            fill: none;
            height: 30px;
            width: 30px;
        }
    }

  &.cardSm {
    padding: 0;

    & svg {
      width: 15px;
      height: 15px;
      margin: 0;
    }

    & span.normal-dropdown__selectedValue {
      font-size: 12px;
      line-height: 15px;
    }

    & .dropdown-inner {
      top: auto;
      right: 22px;
      bottom: 22px;
      left: 22px;

      transform-origin: right bottom;

      &::before {
        content: none;
      }
    }
  }

}

.save-widget__new-list-step2 {
    form {
        .playlist-input {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 0 12px;

            input[type=text] {
              display: block;
                border: 1px solid $color-warm-grey;
                padding: 8px 10px 9px;
                width: 100%;
                margin: 5px 0;
                border-radius: 4px;
                @include input-placeholder {
                    color: #b7b7b7;
                }
            }
        }
        .new-list-step2__btns-pane {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            width: 100%;

            button {
              flex: 1 1 auto;
              margin: 0 10px 0 0;
              padding: 0 5px;

              text-align: center;

              &:last-child {
                margin-right: 0;
              }
            }
         }
        .ant-radio-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 5px 0;

            font-size: 14px;
            line-height: 16px;

            span.ant-radio + * {
                padding: 0 0 0 19px;
            }
        }
        .ant-checkbox-wrapper {

        }
    }
    &.hidden {
        opacity: 0;
        pointer-events: none;
        height: 0;
    }
}

@include tablet {
    .save-widget .dropdown-inner.bottom:before {
        right: calc((100% - 42px) / 8 + 11px);
    }
}
