@import "../variables";

.ShopItem {
  position: relative;
  flex: 0 0 46%;
  max-width: 46%;
  margin: 0 2% 15px;
  padding: 0 0 40px;

  text-align: left;
  border-radius: 3px;
  background: #f7f7f7;

  &-img {
    height: 100px;
    background-size: cover;
  }

  $logo-size: 75px;
  &-logo {
    display: none;

    position: absolute;
    top: calc(100px - #{$logo-size} / 2);
    left: 15px;

    width: $logo-size;
    height: $logo-size;

    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  &-logoImg {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
  }

  &-follow {
    position: absolute;
    bottom: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-name {
    margin: 16px 0 3px;
    padding: 0 15px;

    text-align: center;

    & a {
      font-size: 14px;
      line-height: 17px;
      font-weight: 500;
      color: #333333;
      transition: all 300ms ease-in-out;
      &:focus,
      &:hover {
        color: #333333;
        opacity: .75;
        text-decoration: none;
        outline: 0;
      }
    }
  }

  &-summary {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;

    font-size: 12px;
    color: $color-warm-grey;

    span {
      line-height: 14px;
    }
  }

  &-followers {
    order: 2;
    padding: 0 5px;
  }

  &-rating {
    order: 1;
    margin: 0 0 3px;
    padding: 0 5px;

    font-size: 0;
    line-height: 0;

    & svg {
      width: 11px;
      height: 11px;
    }

    & .ant-rate-star {
      margin-right: 2px;
    }

    & .num {
      display: none;
    }
  }

  @media (min-width: 425px) {
    &-followers {
      order: 1;
    }

    &-rating {
      order: 2;
      margin: 0;
    }
  }

  @media (min-width: 575px) {
    flex: 0 0 260px;
    max-width: 260px;
    margin: 0 10px 15px;
    padding: 0 0 18px;

    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);

    &-logo {
      display: block;
    }

    &-follow {
      position: relative;
      bottom: unset;

      justify-content: flex-end;
      padding: 10px 22px 11px 95px;
    }

    &-name {
      margin: 0 0 4px;
      text-align: left;
    }

    &-summary {
      justify-content: flex-start;
      padding: 0 15px;
    }

    &-followers {
      margin: 0 12px 0 0;
      padding: 0;
    }

    &-rating {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;

      padding: 0;

      & .num {
        display: block;
        padding-left: 3px;

        font-size: 11px;
        line-height: 13px;
        color: #9b9b9b;
      }
    }
  }

  @media (min-width: 768px) {
    margin: 0 15px 30px;
  }
}
