.CategoryItem {
  width: 100%;
  max-width: calc(33.3333% - 40px);
  padding: 20px 20px 45px;
  box-shadow: 0 1px 4px 0 #e3e3e3;
  border-radius: 3px;
  margin: 40px 20px 0;
  cursor: pointer;

  &-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
  }
  &-name {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
  }
  &-parentCategory {
    font-size: 15px;
    color: #000;
    margin-bottom: 15px;
  }
  @media (max-width: 1023px) {
    max-width: 235px;
  }
  @media (max-width: 640px) {
   margin: 20px 0 0;
  }
}