.CategoryFilter {
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 0 10px;
  }
  &-title {
    font-size: 20px;
    font-weight: 500;
    color: #000;
  }
  &-clear {
    margin-left: auto;
    font-size: 12px;
    text-align: right;
    color: #db5151;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      border-bottom: 1px solid #db5151;
    }
  }
  &-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &--sublist {
      width: 100%;
      padding-left: 19px;
      padding-top: 5px;
      transition: all .3s ease;
      z-index: 1;
    }
  }
  &-item {
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    transition: all .3s ease;
    overflow: hidden;

    &:not(:first-child) {
      margin-top: 5px;
    }
    &.is-active {
      > .CategoryFilter-itemContainer .CategoryFilter-itemName {
        font-weight: 700;
      }
    }
    &Container {
      width: 100%;
      display: flex;
      align-items: flex-start;
      padding: 6px 10px;
      transition: all .3s ease;
      background: #fff;
      position: relative;
      z-index: 2;

      &.is-checked {
        background: #f7f7f7;
      }
    }
    &Check {
      position: relative;
      margin-right: 6px;
      width: 14px;
      height: 14px;

      input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &:checked ~ {
          .CategoryFilter-itemIcon {
            background: #000;
          }
        }
      }
    }
    &Icon {
      position: absolute;
      left: 0;
      right: 0;
      top: 2px;
      width: 14px;
      height: 14px;
      border: 1px solid #000;
      transition: all .3s ease;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 2px;
        width: 3.5px;
        height: 2px;
        transform: rotate(45deg);
        background: #fff;
      }
      &:after {
        content: '';
        position: absolute;
        width: 7px;
        height: 2px;
        top: 5px;
        left: 3px;
        transform: rotate(-45deg);
        background: #fff;
      }
    }
    &Name {
      font-size: 15px;
      color: #000;
      cursor: pointer;
      transition: all .3s ease;
      padding-top: 1px;
      line-height: 1.1;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid #000;
      }
    }
    &Arrow {
      width: 30px;
      height: 30px;
      margin: -6px 0 -6px auto;
      position: relative;
      cursor: pointer;
      transition: all .3s ease;

      &:before {
        content: '';
        position: absolute;
        top: calc(50% + 2px);
        left: calc(50% - 2.5px);
        width: 6px;
        height: 1px;
        background: #000;
        transform: rotate(40deg) translate(-50%, -50%);
      }
      &:after {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        left: calc(50% + 2.5px);
        width: 6px;
        height: 1px;
        background: #000;
        transform: rotate(-40deg) translate(-50%, -50%);
      }
      &.is-collapsed {
        transform: rotate(180deg);
        top: -1px;
      }
    }
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    width: calc(75% + 40px);
    margin: -40px -20px 0;
    padding-left: 50px;
  }
  &-divider {
    width: 100%;
    height: .5px;
  }
  &-no-found {
    margin: 40px 0 0;
    font-size: 20px;
    text-align: center;
    width: 100%;
    font-weight: 700;
  }
  @media (max-width: 1023px) {
   width: 100%;

    &-content {
      width: calc(100% + 40px);
      padding-left: 0;
      margin-top: 0;
      justify-content: center;
    }
  }
}
