.OrderSeller {
  margin: 0 0 30px;
  
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  &-heading {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 30px;

    background: #eee;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  &-col {
    flex: 0 0 auto;
    margin-right: 30px;

    font-size: 16px;
    line-height: 19px;
    color: #404040;

    &:last-child {
      margin-right: 0;
    }
  }

  &-name {
    font-weight: 500;
  }

  &-total {
    margin: 0 0 0 auto;

    & .price {
      font-weight: 500;
    }
  }
}
