@import "comp-styles/variables";

.OrderItem {
  position: relative;
  padding: 30px;

  background: #fff;

  &::after {
    content: '';
    position: absolute;
    right: 30px;
    bottom: -1px;
    left: 30px;

    display: block;
    height: 2px;

    background: #d8d8d8;
  }

  &:last-child {
    &::after {
      content: none;
    }
  }

  &-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  &-thumb {
    flex: 0 0 153px;
    height: 153px;
    margin-right: 19px;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    & img {
      max-width: 153px;
      height: auto;
    }
  }

  &-description {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 15px;
  }

  &-heading {
    margin: 0 0 16px;

    & .title {
      font-size: 16px;
      line-height: 19px;
      color: #404040;
      font-weight: 500;
    }

    & .status {
      position: relative;

      padding-left: 30px;
      font-size: 14px;
      line-height: 16px;
      color: $primary-color;

      &::before {
        content: '\022C1';
        position: absolute;
        top: 50%;
        left: 10px;

        display: block;
        width: 16px;
        height: 16px;

        font-size: 10px;
        color: #fff;
        text-align: center;

        background: $primary-color;
        border-radius: 50%;
        transform: translateY(-50%);
      }

      &.pending {
        color: #777777;

        &::before {
          content: '\00021';
          background: #e9d758;
        }
      }
    }
  }

  &-stats {
    & p {
      margin: 0 0 11px;

      font-size: 14px;
      line-height: 16px;
      color: #777777;
    }
  }

  &-tracking {
    margin: auto 0 0;

    font-size: 14px;
    line-height: 16px;
    color: #777777;

    & .num {
      color: #4a90e2;
    }
  }

  &-info {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-price {
    margin: 0 0 7px;

    font-size: 16px;
    line-height: 19px;
    color: #404040;

    & b {
      font-weight: 600;
    }
  }

  &-controlsBtn {
    display: block;
    width: 100%;
    min-width: 128px;
    margin: 0 0 20px;
    padding: 9px 12px;

    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #fff;

    border: 1px solid $primary-color;
    border-radius: 17px;
    background: $primary-color;
    transition: 300ms ease-out;

    &:last-child {
      margin: 0;
    }

    &:focus,
    &:hover {
      color: $primary-color;
      background: #fff;
    }

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
    }

    &--outline {
      color: #404040;
      border-color: $primary-color;
      background: #fff;
      &:focus,
      &:hover {
        color: #fff;
        border-color: $primary-color;
        background: $primary-color;
      }
    }
  }
}
