.OnboardingPage {
  padding: 50px 0;
  padding-top: 10px;
  height: 100%;
  &-wrapper {
    max-width: 975px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
  }

  &-heading {
    position: relative;
    margin: 0 0 10px;
    padding: 35px 0 0;

    text-align: center;
  }

  &-skipBtn {
    position: absolute;
    top: 10px;
    left: 10px;

    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 16px;
    color: #ed494f;

    border: 0;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    transition: opacity 250ms ease-in;

    &:focus,
    &:hover {
      opacity: .9;
    }
  }

  &-steps {
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 12px;
    line-height: 14px;
    color: #000;
    opacity: .65;
  }

  &-subtitle {
    font-size: 16px;
    line-height: 29px;
    font-weight: bold;
    color: #ed494f;
  }

  &-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3px;
    font-weight: bold;
    color: #000000;
    opacity: 0.6;
  }

  &-content {
    margin: 0 0 20px;
    overflow-y: auto;
    max-height: 520px;
  }

  &-interestsWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  &-storesWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  &-loadBtnWrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-loadBtn {
    border: 0 !important;
    box-shadow: none !important;
    color: #000 !important;
    opacity: 0.5 !important;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-continueBtn {
    width: 320px !important;
    height: 48px !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    border-radius: 24px !important;
  }

  @media (min-width: 768px) {
    //margin-top: 15px;

    &-heading {
      margin: 0 0 15px;
      padding: 30px 0 0;
      text-align: left;
    }

    &-skipBtn,
    &-steps {
      top: auto;
      bottom: 0;
    }

    &-subtitle,
    &-title {
      max-width: 500px;
      margin: 0 auto;
    }

    &-content {
      padding: 15px;
      border-radius: 3px;
      border: 1px solid rgba(146,155,172,.4);
    }

    &-interestsWrap {
      justify-content: center;
    }
  }
}
