.BannerSlider {
  padding: 35px 0;

  background: #F6F6F7;

  &-wrapper {
    max-width: 950px;
    margin: 0 auto;
  }

  &-content {
    padding: 0 5px;
  }

  & .slick-track {
  //  display: flex;
  }

  & .slick-slide {
    width: 80%;
  //  flex: 0 0 80%;
//    opacity: .75;
  }
  & .slick-active.slick-current {
//    opacity: 1;
  }

  @media (min-width: 768px) {
    & .slick-slide {
      width: 100%;
//      flex: 0 0 100%;
//      opacity: 1;
    }
  }
  @media (max-width: 640px) {
    padding: 70px 0 35px 0;
  }

}

/*
.banner-slides {
    .slider-block {
        position: relative;

        .slick-dots li button:before {
            width: 13px;
            height: 13px;
            font-size: 13px;
        }
        .slick-dots {
            z-index: 10;
            bottom: 15px;
        }
        .slick-dots li {
            margin: 0 3px;
            width: 13px;
            height: 13px;
        }
        .slick-dots li.slick-active button:before {
            opacity: 1;
            color: #ED484F;
        }

        .slick-dots li button:hover:before {
            opacity: .75;
            color: #ED484F;
        }

    }
    .slick-slider {
        width: 100%;
        margin: auto;
    }
}



.-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
        height: 50px;
        width: 41px;
    }
    &:hover {
        svg {
            fill: #ed484f;
        }
    }
}
.-prev {
    left: -10px;
    transform: rotate(90deg)
}
.-next {
    right: -10px;
    transform: rotate(-90deg)
}
*/
