.BannerFavourites {
  margin: 80px auto 60px;
  max-width: 1190px;
  border-radius: 3px;

  &__inner {
    position: relative;
    padding: 30px;
    background-color: #FCB432;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3px;

    @media (max-width: 767px) {
      padding: 68vw 15px 15px;
      margin-bottom: 50vw;
      border-radius: 0;
    }
  }
  &__content {
    max-width: 545px;
    background: #fff;
    padding: 30px 40px;
    border-radius: 3px;

    @media (max-width: 767px) {
      max-width: none;
      padding: 20px 15px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
      margin-bottom: -51.7vw;
      position: relative;
      top: -33px;
    }
  }
  &__title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.35px;
    color: rgb(0, 0, 0);
    margin: 0 0 25px 0;

    @media (max-width: 767px) {
      font-size: 20px;
      margin: 0 0 10px 0;
      line-height: 1.2;
    }
  }
  &__description {
    display: block;
    font-size: 20px;
    letter-spacing: -0.35px;
    color: rgb(0, 0, 0);
    margin: 0 0 39px 0;
    line-height: 1.2;

    @media (max-width: 767px) {
      font-size: 14px;
      margin: 0 0 20px 0;
    }
  }
  &__btn {
    a {
      background: #DC5555;
      border-radius: 3px;
      padding: 21px 79px;
      font-size: 24px;
      letter-spacing: 0.55px;
      display: inline-block;
      line-height: 1;
      text-align: center;
      color: #fff;
      transition: all .3s ease;

      &:hover {
        background: #dd6c75;
      }
      @media (max-width: 767px) {
        text-align: center;
        width: 100%;
        padding: 19px 20px;
        font-size: 20px;
      }
    }
  }
  @media (max-width: 767px) {
    margin: 30px auto 0;
    border-radius: 0;
  }
}