.HorizontalTabs {
  margin: 0 0 12px;

  &-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    padding-bottom: 3px;

    &:before {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      right: 0;
      height: 1px;
      background: #d2d2d1;
      z-index: 1;
    }
  }

  &-item {
    padding: 2px 0;
    font-size: 16px;
    line-height: 36px;
    color: #000;
    border-bottom: 3px solid transparent;
    transition: 0.25s ease-out;
    cursor: pointer;
    margin-bottom: -3px;
    position: relative;
    z-index: 3;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &.is-active {
      border-bottom: 3px solid #000;
    }
  }
}