.ItemsSection {
  position: relative;

  padding: 21px 0;

  color: #000;
  background: #fff;

  &--featured {
    background: #F5F5F5;
  }

  &--storesNear {
    background: #F5F5F5;

    & .ItemsSection-content,
    & .ItemsSection-wrapper {
      max-width: 1310px;
      margin: 0 auto;
    }

    & .ItemsSection-content {
      margin: 0 -15px;
    }
  }

  &-wrapper {
    position: relative;

    max-width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 19px;
    padding: 0;
  }

  &-title {
    flex: 1 1 auto;
    margin: 0;
    padding: 0 5px;

    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
  }

  &-colLink {
    flex: 0 0 100px;
    & a {
      position: relative;
      padding: 0 32px 0 5px;

      &:focus .linkArrow,
      &:hover .linkArrow {
        transform: translateX(5px);
      }
      &:focus .linkArrow svg,
      &:hover .linkArrow svg {
        fill: #ed484f;
      }
    }

    & span {
      font-size: 15px;
      line-height: 19px;
    }

    & .linkArrow {
      position: absolute;
      top: 50%;
      right: 7px;

      width: 28px;
      height: 28px;
      margin: -14px 0 0;

      transition: transform 0.25s ease-in-out;

      & svg {
        width: 28px;
        height: 28px;

        transform: rotate(-90deg);
      }
    }
  }

  &-content {
    position: relative;
  }

  @media (min-width: 768px) {
    padding: 35px 0;

    &--storesNear {
      & .ItemsSection-heading {
        border-bottom: 2px solid #ed484f;
      }
    }

    &-heading {
      margin: 0 0 25px;
      padding: 0 0 7px;

      border-bottom: 2px solid #ED484F;
    }

    &-title {
      font-size: 24px;
      line-height: 30px;
      font-weight: 600;
    }
  }

  @media (min-width: 940px) {
    &--featured {
      background: #fff;
    }
  }
}
