.StoreNear {
  position: relative;

  width: 310px;
  margin: 0 5px 15px;

  border-radius: 3px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
  transition: box-shadow 300ms ease-out;

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  &--link {
    width: 310px;
    margin: 0 5px 15px;
    
    & a {
      height: 208px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .viewAll {
      font-size: 17px;
      line-height: 19px;
      font-weight: 500;

      text-align: center;
    }

    & .viewAll-arrow {
      width: 45px;
      height: 45px;
      margin: 0 auto 15px;

      display: flex;
      align-items: center;
      justify-content: center;

      border: 2px solid #ed484f;
      border-radius: 50%;

      & svg {
        width: 45px;
        height: 41px;
        fill: #ed484f;
        transform: rotate(-90deg);
      }
    }
  }

  &-thumb {
    display: none;
    visibility: hidden;
    width: 100%;
    height: 140px;
    max-height: 140px;

    overflow: hidden;

    & img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  &-description {
    padding: 20px 10px;
  }

  &-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    margin: 0 0 20px;
  }

  &-colLogo {
    flex: 0 0 50px;
  }

  &-colContent {
    flex: 1 1 auto;
    padding: 0 10px;
  }

  &-logo {
    width: 50px;
    height: 50px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid #F0F0F0;
    overflow: hidden;

    & img {
      max-width: 50px;
      height: auto;
    }
  }

  &-title {
    height: 21px;
    max-height: 21px;
    margin: 0 0 2px;

    font-size: 17px;
    line-height: 21px;
    font-weight: 500;

    overflow: hidden;
  }

  &-location {
    margin: 0 0 3px;
    font-size: 13px;
    line-height: 15px;
  }

  &-raiting {
    & .full-rating {
      margin: 0;
    }
  }

  &-colFollow {
    flex: 0 0 70px;
  }

  &-followBtn {
    display: block;
    width: 100%;
    padding: 6px 5px;

    color: #ED484F;
    text-align: center;
    font-size: 0;

    border-radius: 15px;
    border: 1px solid #E4E4E4;
    background: #fff;
    overflow: hidden;

    &:focus,
    &:hover {
      box-shadow: 0 0 7px 3px rgba(237,72,79,0.15);
    }

    & span {
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
    }

    &--inverse {
      color: #fff;
      background: #ed484f;

      &:focus,
      &:hover {
        color: #fff;
        background: #ed484f;
      }
    }
  }

  &-products {
    position: relative;
  }

  &-productsList {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    overflow: hidden;
  }

  &-productsItem {
    flex: 0 0 90px;
    max-height: 90px;
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 3px;

    overflow: hidden;

    &:last-child {
      margin: 0;
    }

    & img {
      max-width: 100%;
      height: auto;
    }
  }

  &-cta {
    position: relative;
    padding: 12px 0 15px;

    text-align: center;
  }

  &-ctaBtn {
    display: inline-flex;
    padding: 5px 12px;

    font-size: 12px;
    line-height: 15px;
    color: #fff;
    background: #383838;

    border-radius: 3px;
    border: 1px solid #383838;
    transition: all 300ms ease-in-out;

    &:focus,
    &:hover {
      color: #383838;
      background: #fff;
    }
  }

}
