.About {
  padding: 10px 5px;

  background: #f6f6f7;

  &-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 5px 12px;

    color: #000;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(83, 80, 80, 0.07);
  }

  &-sect {
    padding: 24px 0;

    border-top: 1px solid #dcdcdc;

    &:first-child {
      border-top: 0;
    }
  }

  &-sectTitle {
    margin: 0 0 12px;

    & .title {
      margin: 0;

      font-size: 15px;
      line-height: 21px;
      font-weight: 500;
      color: #000;
    }
  }

  &-sectContent {
    font-size: 14px;
    line-height: 21px;
    color: #4a4a4a;

    & p {
      margin: 0 0 10px;

      font-size: 14px;
      line-height: 21px;
      color: #4a4a4a;
    }

    & strong {
      font-weight: 500;
    }
    & .content {
      text-align: justify;
    }

    & .contacts-link {
      margin: 0 0 12px;

      &:last-child {
        margin: 0;
      }

      & a {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & svg {
          width: 16px;
          height: 16px;
          margin-right: 5px;
        }
        & span {
          font-size: 14px;
          line-height: 18px;
          color: #4a4a4a;
        }

        &:focus,
        &:hover {
          & span {
            color: #ed484f;
          }
        }
      }
    }
  }

  @media (min-width: 576px) {
    padding: 15px 10px;

    &-wrapper {
      padding: 10px 15px;
    }
  }

  @media (min-width: 992px) {
    padding: 25px 15px;

    &-wrapper {
      padding: 30px 90px;
    }

    &-sectRow {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &-sectTitle {
      position: relative;
      flex: 0 0 25%;
      margin: 0;
      padding: 24px 5px 24px 0;
    }
    &-sectContent {
      position: relative;
      flex: 0 0 75%;
      padding: 24px 0 24px 5px;

      border-top: 1px solid #dcdcdc;
    }

    &-sect {
      padding: 0;
      border-top: 0;

      &:first-child {
        & .About-sectContent {
          border-top: 0;
        }
      }
    }
  }
}
