.contacts { 
    .contact-option{
        display: flex;
        align-items: center;
        margin: 10px 0;
        a {
            color: #656565;
        }
        svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
        &.link {
            a {
                color: #ed484f;
            }
        }
    }
}
