@mixin display1600 {
    @media screen and (max-width: 1600px) {
        @content;
    }
}

@mixin display1400 {
    @media screen and (max-width: 1400px) {
        @content;
    }
}

@mixin display1200 {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 1080px) {
        @content;
    }
}

@mixin tablet768 {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone640 {
    @media screen and (max-width: 640px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin phone320 {
    @media screen and (max-width: 320px) {
        @content;
    }
}

.schedule {
  margin: 15px 0 0;
    .schedule-now {
        display: flex;
        align-items: center;
        color: #656565;

        .open {
          color: rgb(103, 224, 3);
          svg {
            fill:rgb(103, 224, 3);
          }
        }
        svg {
            width: 20px;
            height: 20px;
            fill: #656565;
            margin-right: 10px;
        }
    }
    .schedule-list {
        padding-left: 0;
        list-style: none;
        .schedule-option {
            margin: 10px 0;
        }
    }
}

@include display1400 {

}
