@import "comp-styles/variables";

.MessagesChatControls {
  background: #fff;

  &-message {
    position: relative;
    padding: 9px 16px 7px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  &-textarea {
    display: block;
    width: 100%;
    margin: 0;
    padding: 12px 40px 12px 10px;

    font-size: 12px;
    line-height: 14px;
    color: #000;

    border: 1px solid $color-warm-grey;
    border-radius: 4px;
    background: #fff;
    resize: none;

    &::placeholder {
      color: #98999d;
    }
    &::-webkit-scrollbar {
      width: 6px;
      background: #eee;
    }
    &::-webkit-scrollbar-thumb {
      background: #c0c0c0;
    }

    &:focus + .MessagesChatControls-messageBtn {
      background: $primary-color;
    }
  }

  &-btnsList {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 16px;

    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  &-btn {
    margin: 0 9px 0 0;
    padding: 3px;
    font-size: 0;
    border: 0;
    background: none;
    cursor: pointer;

    &:last-child {
      margin: 0;
    }

    & svg {
      width: 16px;
      height: 16px;
    }

    &--submit {
      display: none;
      visibility: hidden;
      z-index: -1;

      & svg {
        width: 18px;
        height: 16px;
        fill: $primary-color;
      }
    }
  }

  &-messageBtn {
    z-index: 1;
    visibility: visible;
    position: absolute;
    top: 50%;
    right: 26px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-top: 0;

    border-radius: 50%;
    background: $color-warm-grey;
    transform: translateY(-50%);
    transition: 300ms ease-in-out;
    overflow: hidden;

    & svg {
      width: 13px;
      height: 11px;
      fill: #fff;
    }
  }

  @media (min-width: 768px) {
    &-inner {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;

      padding: 22px 15px;
    }

    &-btnsList {
      order: 2;
      flex: 0 0 auto;
      padding: 0;

      border-top: 0;
    }

    &-btn {
      &--submit {
        display: block;
        visibility: visible;
        z-index: 1;
      }
    }

    &-message {
      order: 1;
      flex: 1 1 auto;
      padding: 0 15px 0 0;

      border-top: 0;
    }

    &-textarea {
      padding: 0;

      font-size: 14px;
      line-height: 16px;

      border-radius: 0;
      border: 0;
    }

    &-messageBtn {
      z-index: -1;
      display: none;
      visibility: hidden;
    }
  }
}
