#popup--mobile-gallery {
  .Popup {
    &-container {
      display: flex;
      padding: 50px 0 20px;
    }
    &-cross {
      top: 12px;
    }
  }
  .slick {
    &-slider {
      width: calc(100vw + 2px);
      height: calc(100vh - 70px);
      display: flex;
      margin: 0 -1px;
      position: relative;
      z-index: 100;
    }
    &-slick {
      display: flex;
      height: 100%;
    }
    &-track {
      display: flex;
      height: 100%;
    }
    &-slide {
      height: 100%;

      > div {
        height: 100%;
      }
    }
    &-dots {
      height: 6px;
      display: flex !important;
      bottom: -15px;
      margin: 0 auto;
      right: 0;
      left: 0;
      align-items: center;
      justify-content: center;

      li {
        width: 6px;
        height: 6px;
        margin: 0 3px;
        padding: 0;

        &.slick-active {
          button {
            background: rgb(237, 73, 79);
          }
        }
        button {
          padding: 0;
          margin: 0;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: rgb(155, 155, 155);

          &:before {
            display: none;
          }
        }
      }
    }
    &-list {
      width: 100vw;
    }
  }
  .ProductMobileMainSlider {
    &-thumb {
      height: 100%;
    }
    &-image {
      height: 100%;
    }
  }
  .arrow {
    position: absolute;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;

    svg {
      z-index: 100;
      position: relative;
      fill: rgb(155, 155, 155);
    }
    &-left {
      left: 10px;
      transform: rotate(-180deg) translateY(-50%);
      top: calc(50% - 28px);
    }
    &-right {
      right: 10px;
    }
  }
}