#popup--comments {
  .Popup {
    &-title {
      font-size: 18px;
      display: block;
      width: 100%;
      margin-bottom: 20px;
      color: #000;
      font-weight: 700;
      text-align: center;
    }
  }
  .Comments {
    margin-bottom: -15px;

    &-items {
      max-height: 72vh;
    }
    &-form {
      margin: 0 -15px;
      padding: 10px 15px;
      background: #fff;
      border: 0;
      border-radius: 0;
    }
    &-formInner {
      border: 1px solid #9b9b9b;
      border-radius: 4px;
    }
  }
}