.ContactUs {
  padding: 35px 0;

  color: #333333;

  &-wrapper {
    max-width: 870px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &-title {
    margin: 0 0 24px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #000;
  }

  &-form {

  }

  &-formItem {
    margin: 0 0 30px;
  }

  .ant-form {
    display: block;
    max-width: 450px;
  }

  .ant-input {
    border: 1px solid #d9d9d9;
  }

  .ant-upload {
    & svg {
      width: 14px;
      height: 14px;
      margin: 0;
    }

    & .ant-btn {
      border-radius: 4px;
    }
  }

  .anticon-close {
    & svg {
      width: 16px;
      height: 16px;
      margin: 0;
    }
  }

  .ant-btn {
    border-radius: 23.5px;
  }
}
