@mixin display1600 {
    @media screen and (max-width: 1600px) {
        @content;
    }
}

@mixin display1400 {
    @media screen and (max-width: 1400px) {
        @content;
    }
}

@mixin display1200 {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 1080px) {
        @content;
    }
}

@mixin tablet768 {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone640 {
    @media screen and (max-width: 640px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin phone320 {
    @media screen and (max-width: 320px) {
        @content;
    }
}

.product-page__social-activity {
    margin-top: 27px;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    font-size: .7em;
    .social-activity__event, .social-activity__reply {
        display: flex;
        align-items: center;
        padding: 11px;
        .avatar {
            width: 40px;
            height: 40px;
            position: relative;
            
        }
    }
    .social-activity__event {
        border-bottom: 1px solid #E8E8E8;
        .avatar {
            &:nth-child(2) {
                left: -10px;
            }
        }
    }
    .social-activity__reply {
        justify-content: space-between;
        .avatar {
            margin-right: 10px;
        }
        span {
            margin-right: auto;
            color: #b7b7b7;
        }
    }
    .reply-actions {
        display: flex;
        align-items: center;
        svg {
            fill: #b7b7b7;
        }
        .reply-post {
            color: #ed484f;
            font-weight: 600;
            margin-left: 10px;
        }
    }
}