@mixin display1600 {
    @media screen and (max-width: 1600px) {
        @content;
    }
}

@mixin display1400 {
    @media screen and (max-width: 1400px) {
        @content;
    }
}

@mixin display1200 {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 1080px) {
        @content;
    }
}

@mixin tablet768 {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone640 {
    @media screen and (max-width: 640px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin phone320 {
    @media screen and (max-width: 320px) {
        @content;
    }
}

.product-page__tabs {
    .react-tabs__tab-list {
        margin: 70px 0 30px 0;
        .react-tabs__tab {
            padding: 25px 0;
        }
    }
}

@include tablet {
    .product-page__tabs .react-tabs__tab-list .react-tabs__tab {
        font-size: .8em;
    }
    .product-page__tabs .react-tabs__tab-panel {
        padding-right: 0;
    }
}

@include tablet768 {
    .product-page__tabs {
        display: none;
    }
}