.ProductFilters {
  margin: 0 0 12px;
  padding: 18px 0 25px;

  border-bottom: 1px solid #bebebe;

  &.isMobile {
    padding: 7px 0;
    & .ProductFilters-row {
      display: block;
    }

    & .ProductFilters-filters {
      margin: 0;
      display: none;
      visibility: hidden;
    }

    & .ProductFilters-selected {
      margin: 0;
      text-align: center;

      & .ProductFilters-optionsList {
        padding: 0 7px;
      }

      & .ProductFilters-colTitle {
        margin: 0 0 3px;
      }

      & .SelectedFilters-items {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-bottom: 5px;

        & .Btn {
          flex: 0 0 auto;
        }
      }
    }

    & .ProductFilters-optionsReset {
      display: none;
      visibility: hidden;
    }
  }

  &-row {
    margin: 0 -15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  &-selected {
    min-height: 49px;
    margin-top: 24px;
  }

  &-colTitle {
    flex: 0 0 270px;
    padding: 0 15px;
  }

  &-colOptions {
    flex: 1 1 auto;
    padding: 0 15px;

    & .sbp-search-items .sbp-search-items__filter {
      justify-content: flex-start;
    }

    & .sbp-search-items .sbp-search-items__filter .sbp-combobox {
      flex: 0 1 175px;
      margin: 0;

      & .sbp-combobox__value-container {
        max-width: none;
        min-height: 30px;
        margin: 0;
        padding: 2px 7px;
      }

      & .sbp-combobox__label {
        margin: 0;
      }

      & .sbp-combobox__value-range {
        display: none;
        visibility: hidden;
      }

      & .sbp-combobox__control {
        width: 175px;
        max-width: 175px;
        min-height: 30px;
        margin: 0;

        border-right: none;
      }

      & .sbp-combobox__menu {
        z-index: 12;
      }

      &:last-child {
        & .sbp-combobox__control {
          border-right: 1px solid #e4e4e4;
        }
      }
    }
  }

  &-title {
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 500;
  }

  &-subtitle {
    font-size: 15px;
    line-height: 21px;
    color: #000;
  }

  &-filters {
    position: relative;
    padding: 7px 0 0;
    background: #fff;
  }

  &-optionsList {
    flex: 1 1 auto;
    padding: 0 15px;
  }

  &-optionsReset {
    flex: 0 1 auto;
    padding: 0 7px;
  }

  &-btnReset {
    position: relative;

    margin: 0;
    padding: 3px 5px;

    font-size: 12px;
    line-height: 15px;
    color: #ED484F;
    background: transparent;
    border: none;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 5px;
      right: 5px;

      display: block;
      height: 1px;

      background: #000;
      opacity: 0;
      transition: opacity 180ms ease-out;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  @media (min-width: 850px) {
    &-subtitle {
      &.is-hidden-lg {
        display: none;
        visibility: hidden;
      }
    }
  }
}
