@mixin display1600 {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin display1400 {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin display1200 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1080px) {
    @content;
  }
}

@mixin tablet768 {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phone640 {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin phone320 {
  @media screen and (max-width: 320px) {
    @content;
  }
}

.sbp-search-brands {
  & .sbp-search-brands__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -30px;
  }
}

@include display1400 {
  .sbp-search-brands {
    & .sbp-search-brands__content {
      justify-content: flex-start;
    }
  }
}

@include phone640 {
  .sbp-search-brands {
    & .sbp-search-brands__content {
      margin-left: 0;
    }
  }
}