@import './../../comp-styles/variables';

@mixin tablet768 {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone640 {
    @media screen and (max-width: 640px) {
        @content;
    }
}

.FeedbackList {
    display: flex;
    flex-direction: column;
    
    &-headerAvatar {
        margin-right: 10px;
    }
    
    &-header {
        display: flex;
        
        img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }
    
    &-influencer {
        padding: 0 23px;
        color: $color-warm-grey;
        border: 1px solid #e4e4e4;
        background-color: #ececec;
        border-radius: 3px;
        font-size: 12px;
        line-height: 17px;
        margin-top: 5px;
    }
    
    &-title {
        font-size: 16px;
        font-weight: 600;
    }
    
    &-data {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
    }
    
    &-date {
        color: $color-warm-grey;
    }
    
    &-status {
        font-size: 16px;
        flex-grow: 1;
        margin: 0 10px;
        color: $main-text-color;
    }
}

.ProductComment {
    color: $main-text-color;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
    &-text {
        flex-grow: 1;
        & > p {
            max-height: 300px;
            overflow-y: auto;
        }
    }
    
    &-footer {
        display: flex;
        
        button {
            margin-top: 20px;
            color: $main-text-color;
            padding: 0 25px;
            margin-right: 15px;
            font-size: 12px;
        }
    }
    
    &-likes {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;
        
        svg {
            height: 18px;
        }
    }
}

@include tablet768 {
    .ProductComment {
        &-footer {
            text-align: center;
            display: block;
        }
        
        &-likes {
            display: block
        }
    }
}

@include phone640 {
    .ProductComment {
        &-footer {
            display: flex;
        }
        
        &-likes {
            display: flex;
        }
    }
}