.ProductDescription {
  padding: 25px 15px;

  background: #fff;

  & .title {
    margin: 0 0 17px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  & p {
    margin: 0 0 16px;

    font-size: 14px;
    line-height: 21px;
  }

  & .info {
    max-width: 280px;
  }
  & .infoRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  & .infoCol {
    flex: 0 0 50%;
    margin: 0 0 5px;
    padding: 0 7px;

    & span {
      font-size: 14px;
      line-height: 18px;
    }
  }
  & .infoTitle {
    text-align: right;
  }
  & .infoValue {
    text-align: left;
  }

}
