@import ".././variables";
.ProductInfo {
  &-main {
    margin: 0 0 17px;

    border-radius: 2px;
    background: #fff;
  }
  &-heading {
    padding: 10px 20px 3px;

    border-bottom: 1px solid #E8E8E8;
  }

  &-title {
    margin: 0 0 2px;
    min-height: 56px;

    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #000;
  }

  &-row {
    margin: 0 0 2px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &-colRaiting {
    margin: 0 17px 0 0;
  }
  &-shipping {
    font-size: 12px;
    line-height: 15px;
    color: #666666;
  }

  &-price {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & .price {
      font-size: 24px;
      line-height: 22px;
      color: #ED484F;
    }

    & .pricePrev {
      padding-left: 12px;
      font-size: 13px;
      line-height: 18px;
      color: #666666;
      text-decoration: line-through;
    }
  }

  &-about {
    padding: 6px 20px;
  }

  &-optionRow {
    margin: 0 0 12px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:last-child {
      margin: 0;
    }
  }
  &-optionTitle {
    flex: 0 0 100px;

    & span {
      font-size: 13px;
      line-height: 16px;
      color: #4C4C4C;
    }
    &:first-letter {
      text-transform: uppercase;
    }
  }
  &-optionValue {
    flex: 1 1 auto;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    & span {
      font-size: 13px;
      line-height: 16px;
      color: #201E1E;
      font-weight: 500;
    }

    & .link {
      margin: 0 0 0 7px;
      font-size: 12px;
      line-height: 15px;
      color: #ED484F;
      font-weight: 400;
      cursor: pointer;
    }

    & .rc-input-number {
      min-width: 75px;
      height: 22px;
      margin: 0;
    }

    & .rc-input-number-input {
      border: 0;
      padding: 0;
    }

    & .rc-input-number-input-wrap {
      top: 0;
    }

    & .rc-input-number-handler {
      //padding: 5px;
      //color: #000;
      //background: #fff;
    }
  }

  &-cta {
    margin: 0 0 17px;

    border-radius: 2px;
    background: #fff;

    &.is-modal {
      .ProductInfo-btn {
        flex: 0 0 47%;
      }
    }
  }
  &-ctaBtns {
    padding: 0 17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &-btn {
    margin: 0;
    flex: 0 0 47%;
    max-width: none;
    padding: 5px;

    font-size: 13px;
    line-height: 21px;
    font-weight: 500;
    color: #000;

    border: 1px solid #dedddd;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    background: #dedddd;
    outline: 0;
    transition: all 300ms ease-out;

    cursor: pointer;

    & svg {
      width: 17px;
      height: 17px;
      margin-bottom: -3px;
      margin-right: 7px;
      fill: #fff;
      transition: all 300ms ease-out;
    }

    &:focus,
    &:hover {
      color: #000!important;
      background: #fff!important;
      border-color: #dedddd!important;
    }

    &.outline {
      color: #fff!important;
      border-color: #ed484f;
      background: #ed484f!important;
    }

    &.outline:focus,
    &.outline:hover {
      color: #ed484f!important;
      background: #fff!important;
      border-color: #ed484f!important;

      & svg {
        fill: #ed484f;
      }
    }
    &._go_to_product {
      padding: 8px;
      border-radius: 22px;
      text-transform: initial;

      &._disabled {
        border: 1px solid #a5a5a5cc;
        background: #a5a5a5cc !important;
        cursor: not-allowed;

        &:hover {
          border: 1px solid #a5a5a5cc !important;
          color: #fff !important;
        }
      }
    }
    &._add {
      padding: 8px;
      border-radius: 22px;
      text-transform: initial;
      background: transparent;
      border: 1px solid rgb(237, 73, 79);

      svg {
        fill: none;
      }
      &:hover {
        color: #fff !important;
        border: 1px solid rgb(237, 73, 79) !important;
        background: rgb(237, 73, 79) !important;
      }
      &._disabled {
        border: 1px solid #a5a5a5cc;
        color: #a5a5a5cc;
        cursor: not-allowed;

        &:hover {
          background: transparent !important;
          border: 1px solid #a5a5a5cc !important;
          color: #a5a5a5cc !important;
        }
      }
    }
  }

  &-activity {
    position: relative;
    padding: 11px 0 9px;

    border-top: 1px solid #E8E8E8;
  }
  &-activityInner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &-activityItem {
    //position: relative;
    flex: 0 0 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    background: #fff;
    cursor: pointer;

    & .-count {
      font-size: 10px;
      line-height: 12px;
    }

    &:hover {
      svg {
        fill: $accent-color;
      }
    }
    & svg {
      width: 15px;
      height: 15px;
      fill: $main-text-color;
    }

    &.share {
      & .share-widget {
        position: relative;
        bottom: auto;
        right: auto;
        left: auto;
        top: auto;
      }

      & .share-widget .share-dropdown {
        right: 50%;
        bottom: -40px;
        flex-direction: row;
        transform: translateX(50%);
      }
    }

    &.save {
      & .save-widget {
        margin: 0;
        padding: 0;
      }
    }

    .save-widget svg {
      width: 15px;
      height: 15px;
      margin-bottom: -3px;
    }

    .share-icon,
    .Comments-icon {
      font-size: 10px;
      line-height: 18px;
    }
  }

  &-details {
    font-size: 13px;
    line-height: 18px;

    border-radius: 2px;
    background: #fff;
  }
  &-detailsRow {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 5px 22px;
    margin-bottom: 4px;

    .from {
      display: block;
      width: 100%;
      font-size: 12px;
      color: rgb(155, 155, 155);
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  &-detailsTitle {
    flex: 0 0 30%;

    & span {
      font-size: 14px;
      line-height: 15px;
      color: #000;
    }
  }
  &-detailsValue {
    flex: 0 0 70%;
    align-items: center;
    display: flex;

    & span {
      font-size: 13px;
      line-height: 15px;
      color: #201E1E;
    }

    & .link {
      display: block;
      color: #ED484F;
    }

    & .icon {
      margin: 0 15px 0 0;
      display: inline-flex;

      &.ms {
        img {
          width: 24px;
          height: 15px;
        }
      }
      &.visa {
        img {
          width: 36px;
          height: 11px;
        }
      }
      &.paypal {
        img {
          width: 46px;
          height: 12px;
        }
      }
      &.ae {
        img {
          width: 22px;
          height: 16px;
        }
      }
      &.cash{
        img {
          width: 27px;
          height: 15px;
        }
      }
      svg,
      img {
        width: 100%;
        height: 100%;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}
