.ProductColors {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  &._error {
    .ProductColors {
      &-error {
        max-height: 30px;
        padding-bottom: 5px;
      }
    }
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &-item {
    position: relative;

    margin: 0 5px 0 0;

    &:last-child {
      margin: 0;
    }

    & input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      opacity: 0;
    }

    & label {
      position: relative;

      display: block;
      margin: 0;
      padding: 2px;

      border: 1px solid transparent;
      transition: all 300ms ease-out;

      cursor: pointer;

      & .color {
        display: block;
        width: 16px;
        height: 16px;
      }
    }

    &.is-active {}

  }

  &-mobile {
  }

  &-mobileOption {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 5px 0;

    & .color {
      width: 17px;
      height: 17px;
    }

    & .name {
      padding-left: 17px;

      font-size: 12px;
      line-height: 15px;
    }
  }

  &-error {
    max-height: 0;
    color: red;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
  }
}
