@import "comp-styles/variables";

.ProductSeller {
  margin: 35px 0;
  padding: 15px 10px;

  background: #fff;
  box-shadow: 0 1px 4px 2px rgba(0,0,0,.03);

  &-inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &-info {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 0 auto 12px;
  }

  &-thumb {
    flex: 0 1 auto;
    position: relative;
  }

  &-img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;

    & img {
      width: 60px;
      height: 60px;
      max-width: 100%;
      height: auto;
    }
  }

  &-online {
    position: absolute;
    bottom: -5px;
    right: 7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(126, 211, 33);
  }

  &-data {
    padding-left: 40px;
  }

  &-title {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #000;

    .name {
      display: block;
      padding-right: 7px;

      font-size: 14px;
      line-height: 18px;
      color: #000;
      font-weight: 400;
      margin-bottom: 3px;
    }
  }

  &-dataRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    & .raitings {
      padding-top: 1px;
    }

    & .location {
      padding: 0 5px;

      font-size: 13px;
      line-height: 16px;
      color: #000;
    }

    & .followers {
      flex: 0 0 100%;

      font-size: 13px;
      line-height: 16px;
      color: #000;
    }
  }

  &-cta {
    flex: 0 0 40%;
    position: relative;
    display: flex;
    padding: 20px 0 0 0;

    .btn {
      width: auto;
      padding: 6px 18px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
      text-align: center;
      background: transparent;
      border-radius: 20px;

      &:not(:last-child) {
        margin-right: 15px;
      }
      &.follow {
        min-width: 90px;
        border: 1px solid $primary-color;
        background: $primary-color;
        color: #fff;

        svg {
          display: none;
        }
        &:hover {
          background: darken($primary-color, 10%);
        }
        &.grey {
          color: $color-warm-grey;
          border-color: $color-warm-grey;
          background: #fff;

          &:hover {
            color: $color-warm-grey;
            border-color: $color-warm-grey;
            background: #fff;
          }
        }
        .preloader {
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            display: initial;
            max-width: 15px;
            max-height: 15px;
          }
        }
      }
      &._ask {
        border: 1px solid rgb(155, 155, 155);
        color: #000;

        &:hover {
          background: rgb(155, 155, 155);
          color: #fff;
        }
      }
      &::before,
      &::after {
        content: none;
      }
    }
  }

  &-products {
    flex: 0 0 110px;
    max-width: 175px;
    padding: 0 12px;

    & .amount {
      padding: 5px 7px;

      text-align: center;
      border: 1px solid #E4E4E4;
    }
  }

  &-count {
    padding: 16px 6px;
    border: 1px solid rgb(228, 228, 228);
    margin-left: auto;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    color: rgb(74, 74, 74);
  }

  &-lastFollowers {
    margin-left: auto;
    margin-top: auto;
    padding-bottom: 5px;
    color: #000;

    img {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      object-fit: cover;
      border: 1px solid $color-warm-grey;
      background: #fff;

      &:not(:first-child) {
        margin-left: -12px;
      }
      + span {
        padding-left: 12px;
      }
    }
    .names {
      font-size: 10px;
      color: #000;
      padding-left: 8px;

      span {
        color: rgb(104, 104, 104);
      }
    }
  }

  &-tools {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% + 40px);
    margin-top: 6px;
    margin-left: -40px;

    .location {
      font-size: 14px;
      color: rgb(155, 155, 155);
    }
    .followers {
      font-size: 12px;
      margin-top: 6px;
      color: #000;
    }
  }

  &-followers {
    text-align: center;
    width: 16%;
  }

  .ProductSimilar {
    padding: 0;
    margin: 30px 0 0 0;
    max-width: 100%;
    width: 100%;
  }

  .Spinner {
    width: 100%;
  }

  @media (min-width: 576px) {
    padding: 25px;

    &-dataRow {
      flex-wrap: wrap;

      & .followers {
        flex: 0 0 auto;
        padding: 0 5px;
      }
    }
  }

  &.sm {
    margin: 15px 0;
    padding: 10px 15px;

    & .ProductSeller-products {
      display: none;
      visibility: hidden;
    }
  }

  @media (min-width: 768px) {
    padding: 25px 25px 25px 40px;
    max-width: 960px;
    margin-left: auto;
    margin-right: 35px;

    &-info {
      flex: 0 1 auto;
      max-width: auto;
      margin: 0 55px 0 0;
      margin-right: auto;
    }

    &-cta {
      margin: 0;
    }
    &-products {
      flex: 0 1 auto;
      margin: 0;
      margin-left: auto;
    }

    &.sm {
      & .ProductSeller-inner {
        display: block;
      }
      & .ProductSeller-info {
        margin: 0 0 7px;
      }
      & .ProductSeller-cta {
        margin: 12px 0 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: none;

        & .btn {
          flex: 0 0 47%;
          margin: 0;
        }
      }
    }
  }

  ._follow {
    &:hover {
      svg {
        stroke: #fff;
      }
    }
    svg {
      max-width: 16px;
      max-height: 16px;
      margin: -2px 10px -2px -10px;
      stroke: #DC5555;
    }
  }
}
