@import "../mixins";

.ProductFeedbacks {
  max-width: 960px;
  margin-left: auto;
  margin-right: 35px;
  background: #fff;
  box-shadow: 0 1px 4px 2px rgba(0,0,0,.03);
  padding: 30px 40px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;

  & .FeedbackRating {
    margin: 0;
  }

  &-title {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 24px;

    span {
      color: rgb(155, 155, 155);
    }
  }

  &-starsDetail {
    width: 35%;

    .item {
      display: flex;

      &:not(:first-child) {
        margin-top: 4px;
      }
    }
    .score {
      font-size: 12px;
      color: #000;

      svg {
        max-width: 7px;
        max-height: 7px;
        fill: rgb(155, 155, 155);
        position: relative;
        top: -6px;
        left: -3px;
        margin-right: 2px;
      }
    }
    .line {
      display: block;
      width: 100%;
      height: 18px;
      max-width: 180px;
      background: rgba(#000, .05);
      position: relative;

      &-scr {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &._5 {
          background: rgb(0, 176, 90);
        }
        &._4 {
          background: rgb(0, 219, 112);
        }
        &._3 {
          background: rgb(255, 197, 0);
        }
        &._2 {
          background: rgb(255, 127, 11);
        }
        &._1 {
          background: rgb(255, 11, 11);
        }
      }
    }
    .percent {
      padding-left: 10px;
      text-align: right;
      width: 50px;
      font-size: 12px;
      color: #000;
    }
  }

  &-rate {
    text-align: center;
    margin-left: 23px;
    margin-top: 10px;

    .number {
      font-size: 66px;
      font-weight: 600;
      color: #000;
      line-height: 1;
    }
    .rating {
      margin-top: 10px;
    }
    .star {
      svg {
        fill: rgb(155, 155, 155);
        max-width: 19px;
        max-height: 19px;
      }
      &.is-active {
        svg {
          fill: rgb(255, 193, 49);
        }
      }
    }
  }

  &-person {
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid rgb(228, 228, 228);
    padding-top: 45px;

    &Header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .thumb {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .info {
        margin-left: 20px;
      }
      .name {
        display: block;
        font-size: 16px;
        font-weight: 700;
        color: #000;
      }
      .label {
        font-size: 10px;
        padding: 3px 25px;
        display: inline-block;
        margin-top: 6px;
        border-radius: 3px;
        background: rgb(228, 228, 228);
      }
      .follow {
        margin-left: 83px;

        svg {
          display: none;
        }
        .preloader {
          display: flex;

          svg {
            display: initial;
            max-width: 18px;
            max-height: 18px;
          }
        }
        .btn {
          border-radius: 30px;
          padding: 5px 27px;
          margin: -9px 0 0;
          font-size: 12px;
        }
      }
      .date {
        margin-left: auto;
      }
      .edit {
        margin-left: 20px;
        margin-right: 10px;

        .icon {
          &-dot {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            display: block;
            background: #6c6c6c;

            &:not(:first-child) {
              margin-top: 5px;
            }
          }
        }
      }
    }
    &Content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 28px;

      .name {
        font-size: 16px;
        margin-left: 15px;
        color: rgb(54, 54, 54);
        line-height: 1.1;
        margin-top: -4px;
      }
      .description {
        width: 100%;
        margin-top: 15px;
        font-size: 16px;
        line-height: 26px;
        color: rgb(54, 54, 54);

        p {
          font-size: inherit;
          line-height: inherit;
          color: inherit;
        }
      }
    }
    &Images {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -7.5px;

      img {
        margin: 15px 7.5px 0;
        width: 100px;
        height: 100px;
      }
    }
    &Footer {
      margin-top: 15px;
      display: flex;

      .helpful {
        display: inline-flex;
      }
      .btn {
        border-radius: 17px;
        font-size: 12px;
        color: #000;
        background: rgb(246, 246, 246);
        padding: 8px 30px;

        &:not(:first-child) {
          margin-left: 15px;
        }
      }
      .like {
        margin-left: auto;
        display: inline-flex;
        align-items: center;
        color: #000;

        svg {
          max-width: 18px;
          max-height: 18px;
          margin-right: 5px;
        }
      }
    }
    &Replies {
      margin-top: 15px;
      width: 100%;

      .all {
        width: 100%;
        display: block;
        font-size: 13px;
        letter-spacing: -0.24px;
        color: rgb(54, 54, 54);
        padding: 8px 15px;
        background: rgb(246, 246, 246);
        border-top: 1px solid rgb(228, 228, 228);
        border-bottom: 1px solid rgb(228, 228, 228);
      }
      .leftReply {
        width: 100%;
        position: relative;
        height: 66px;
        background: rgb(246, 246, 246);
      }
      .avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 15px;
        z-index: 2;
        transform: translateY(-50%);

        img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
        }
      }
      .field {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px 45px 10px 62px;
        border: 0;
        background: transparent;
        resize: none;
        font-size: 12px;
        z-index: 1;

        @include placeholder {
          line-height: 45px;
        }
      }
      .submit {
        position: absolute;
        top: 50%;
        right: 15px;
        border-radius: 50%;
        border: 0;
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
        z-index: 2;
        cursor: pointer;
        background: rgb(220, 85, 85);
        transition: all .3s ease;

        &:disabled {
          background: rgb(204, 204, 204);
          cursor: not-allowed;
        }

        svg {
          max-width: 13px;
          max-height: 11px;
          fill: #fff;
          position: relative;
          left: 1px;
        }
      }
    }
    .star {
      svg {
        fill: rgb(155, 155, 155);
        max-width: 19px;
        max-height: 19px;
      }
      &.is-active {
        svg {
          fill: rgb(255, 193, 49);
        }
      }
    }
  }

  & h5 {
    margin: 12px 0;
    font-size: 22px;
  }
}
