.RelatedProducts {
  margin: 35px 0 0;

  &-title {
    margin: 0 0 17px;
    padding: 0 7px 0 25px;

    font-size: 17px;
    line-height: 21px;
    font-weight: 500;
    color: #000;

    & a {
      color: #000;
      &:focus,
      &:hover {
        color: #ed484f;
      }
    }
  }

  &-slider {
    position: relative;
    padding: 0 27px;
  }

  &-sliderArrow {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);

    cursor: pointer;

    & svg {
      width: 35px;
      height: 35px;
    }

    &.prev {
      left: -5px;
    }

    &.next {
      right: -5px;
      transform: translateY(-50%) rotate(-90deg);
    }
  }

  &-item {
    width: 168px;
    margin: 0 auto;
    padding: 0 4px;
  }

  &-itemImage {
    width: 160px;
    height: 160px;
    margin: 0 0 4px;

    border-radius: 2px;
    overflow: hidden;

    & img {
      max-width: 100%;
      height: auto;
    }
  }

  &-itemTitle {
    height: 16px;
    max-height: 16px;
    margin: 0 0 3px;
    overflow: hidden;
    & a {
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      color: #000;
      transition: color 300ms ease-out;

      &:focus,
      &:hover {
        color: #ed484f;
      }
    }
  }

  &-itemRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &-itemPrice {
    padding: 0 5px 0 0;
    & span {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      color: #ed484f;
    }
  }

  &-itemLikes {
    padding: 0 0 0 5px;

    & .like-widget {
      margin: 0;

      & svg {
        width: 16px;
        height: 16px;
      }

      & .-count {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}
