.FlyoutModal {
  position: absolute;
  top: 20vh;
  left: 250px;
  width: 400px;
  height: 60vh;
  padding-left: 15px;
  padding-right: 15px;

  background: #fff;

  animation: animFlyout 300ms ease-in-out;
  overflow-y: auto;
}
@keyframes animFlyout {
  from { transform: translateX(-15px); }
  to { transform: translateX(0); }
}
