@mixin display1600 {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin display1400 {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin display1200 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1080px) {
    @content;
  }
}

@mixin tablet768 {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phone640 {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin phone320 {
  @media screen and (max-width: 320px) {
    @content;
  }
}

.user__preview {
  display: flex;
}

.user {
  display: flex;
  align-items: center;
  margin: 0 29px 0 15px;
  position: relative;
  cursor: pointer;

  .header__popup-close {
    right: 0;
    top: 0;
  }

  .arrow {
    display: flex;
    margin-left: 3px;
    padding: 0;

    svg {
      width: 20px;
      height: 22px;
    }
  }

  .user-avatar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 3px;

    img {
      display: flex;
      object-fit: cover;
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  .hello-username {
    font-size: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 4px;
    line-height: 1.4;

    .greet {
      color: #000;
      font-weight: normal;
      position: relative;
    }

    .username {
      color: #000;
      font-size: 14px;
      font-weight: 600;
      margin-top: 0;
    }

    .arrow {
      padding: 0;
    }
  }

  .user-dropdown {
    position: absolute;
    top: 46px;
    left: -19px;
    transition: all 0s ease;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scale(0);
    opacity: 0;
    max-width: 180px;
    border-radius: 5px;
    width: 300px;

    &:before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      border-bottom: 8px solid rgb(246, 246, 247);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }

    .dropdown-triangle-up {
      right: 117px;
    }

    &__divider {
      width: 100%;
      margin: 10px 0;
      height: 1px;
      background: rgba(151, 151, 151, .25);
    }

    &__top {
      li {
        &:first-child {
          padding-top: 11px;
        }
      }
    }

    &__bottom {
      li {
        &:last-child {
          padding-bottom: 22px;
        }
      }
    }

    &__top,
    &__bottom {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 5px 20px 5px 30px;
        cursor: pointer;
        transition: all .3s ease;
        background: #fff;
        position: relative;

        a {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          font-size: 0;
        }

        &:hover {
          background: rgb(246, 246, 247);
        }
      }

      .value {
        width: 36px;
        text-align: right;
        color: rgb(238, 72, 79);
      }

      .title {
        padding-left: 15px;
        width: calc(100% - 36px);
        font-size: 14px;
        color: #000;
        text-align: left;
      }
    }

    .user-dropdown__wrapper {
      padding: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #fff;

      .user-dropdown__user-avatar {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 50%; // margin-right: 10px;
        img {
          object-fit: cover;
        }
      }

      .user-dropdown__name {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
        font-size: 1.1em;
      }

      .user-dropdown__follow {
        display: flex;
        padding: 7px 0 17px 0;
        border-bottom: 1px solid #f0f0f2;

        .user-dropdown__following {
          p {
            margin: 0 20px;
          }

          .user-dropdown__following-amount {
            color: #ed484f;
            font-weight: 600;
          }
        }
      }

      .user-dropdown__menu {
        padding-left: 0;
        margin: 10px 0 0 0;

        li {
          list-style: none;
          margin: 16px 0;
          position: relative;
          cursor: pointer;

          a {
            color: #656565;
            text-decoration: none;
            transition: all .3s ease;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &.open {
    .user-dropdown {
      transform: scale(1);
      opacity: 1;
      z-index: 20;
    }
  }
}
