.ShopFiltersItem {
  margin: 0 0 16px;

  border-bottom: 1px solid #e8e8e8;

  &.is-opened {
    & .ShopFiltersItem-arrow {
      transform: rotate(180deg);
    }
    & .ShopFiltersItem-content {
      max-height: 500px;
      overflow-y: auto;
    }
  }

  &-heading {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0;
  }

  &-title {
    margin: 0;
    padding: 0;

    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
    color: #000;

    cursor: pointer;
  }

  &-controls {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
  }

  &-clear {
    margin: 0 7px 0 0;
    padding: 0;

    font-size: 14px;
    line-height: 16px;
    color: #4a4a4a;
    cursor: pointer;
  }
  &-arrow {
    font-size: 0;
    cursor: pointer;
    & svg {
      width: 22px;
      height: 22px;
    }
  }

  &-content {
    max-height: 0;
    transition: 300ms ease-in;
    overflow: hidden;
  }

  &-contentWrapper {
    padding: 17px 0 12px;
  }


  &-checkbox {
    position: relative;
    margin: 0 0 17px;

    &.is-checked {
      & .ShopFiltersItem-check svg {
        fill: #000;
      }
    }
  }

  &-input {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    visibility: hidden;
  }

  &-label {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 16px;
    color: #000;

    cursor: pointer;

    &:hover .ShopFiltersItem-check {
      border-color: #000;
    }
  }

  &-check {
    position: relative;
    flex: 0 0 24px;
    margin: 0 33px 0 0;
    padding: 0;

    width: 24px;
    height: 24px;

    border-radius: 2px;
    border: 1px solid #9b9b9b;

    transition: 300ms ease-in-out;

    & svg {
      position: absolute;
      top: 50%;
      left: 2px;
      width: 18px;
      height: 16px;
      margin: -8px 0 0;
      padding: 0;
      fill: #fff;

      transition: 300ms ease-in-out;
    }
  }

  &-name {
    font-size: 14px;
    line-height: 16px;
    color: #000;
  }

  &-range {
    padding: 0 19px 25px;
  }

  @media (min-width: 850px) {
    &-title {
      font-size: 15px;
      line-height: 22px;
    }
  }
}
