.ShopLayout {
  & .ant-back-top {
    right: 15px;
    bottom: 55px;
  }

  @media (min-width: 768px) {
    & .ant-back-top {
      right: 25px;
    }
  }

  @media (min-width: 992px) {
    & .ant-back-top {
      right: 100px;
    }
  }
}
