.CartItem {
  position: relative;
  padding: 30px 15px 15px;

  border-bottom: 1px solid #dfdfdf;

  &-remove {
    position: absolute;
    top: 10px;
    right: 7px;
  }
  &-removeBtn {
    position: relative;
    display: block;
    width: 17px;
    height: 17px;

    border: 0;
    background: transparent;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;

      display: block;
      width: 17px;
      height: 1px;

      background: #000;

      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &-save {
    position: absolute;
    top: 9px;
    right: 40px;

    & .save-widget {
      padding: 0;

      & svg {
        margin: 0;
      }

      &.save-widget-dropdown__opened {
        & .save-widget__dropdown {
          top: 29px;
          right: -19px;
          left: auto;
        }
      }
    }
  }

  &-saveBtn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 5px;
    font-size: 0;
    background-color: transparent;
    border: none;

    & svg {
      width: 12px;
      height: 12px;
      margin-right: 3px;
    }

    & span {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &-inner {
  }

  &-thumb {
    position: relative;
  }

  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    overflow: hidden;

    & img {
      max-width: 100%;
      height: auto;
    }
  }

  &-info {
    position: relative;
    padding: 15px 0 0 15px;
  }

  &-pricing {
    margin: 0 0 5px;

    & .pricePrev {
      padding-right: 5px;
      font-size: 12px;
      line-height: 15px;

      text-decoration: line-through;
    }
    & .price {
      font-size: 15px;
      line-height: 19px;
      color: #000;
      font-weight: 500;
    }
  }

  &-title {
    display: block!important;
    height: 21px;
    max-height: 21px;
    margin: 0 0 5px;
    padding: 0;

    font-size: 15px;
    line-height: 21px;
    font-weight: 500!important;
    text-transform: none;

    overflow: hidden;
  }

  &-options {
    margin: 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;


    & .normal-dropdown {
      width: 100px;

      & .dropdown__active {
        border: 0;
      }

      & .dropdown__options .dropdown__option {
        padding: 5px 7px;
        border-top: 1px solid #e4e4e4;
      }
    }
  }

  &-optionsCol {
    position: relative;
    padding-right: 25px;
  }

  &-color {

  }

  &-qty {
    flex: 0 1 auto;
    display: flex;
    margin: 7px auto 0;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;

    & label {
      font-size: 14px;
      line-height: 17px;
    }

    & .rc-input-number {
      min-width: 100px;
      height: 32px;
    }
    & .rc-input-number-input-wrap {
      top: 0!important;
    }

    & .rc-input-number-input {
      width: 100% !important;
      border: 0;
    }

    & .rc-input-number-handler-up {
      right: 3px!important;
    }
  }

  &-total {
    padding: 0;
  }

  &-shipping {
    margin: 0;

    & .normal-dropdown  {
      width: 275px;
      max-width: 275px;
      margin: 0;

      & .normal-dropdown__selectedValue {
        font-size: 15px;
        line-height: 21px;
      }

      & .dropdown__active {
        border: 0;
      }

      & .dropdown__options .dropdown__option {
        padding: 5px 7px;
        border-top: 1px solid #e4e4e4;
      }
    }
  }

  @media (min-width: 375px) {
    padding: 15px 5px;

    &-inner {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
    }

    &-save {
      & .save-widget {
        &.save-widget-dropdown__opened {
          & .save-widget__dropdown {
            top: 0;
            right: 35px;
          }
        }
      }
    }

    &-thumb {
      flex: 0 0 80px;
    }

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      overflow: hidden;

      & img {
        max-width: 100%;
        height: auto;
      }
    }

    &-info {
      flex: 1 1 auto;
    }

    &-options {
      justify-content: flex-start;
    }

    &-optionsCol {
      padding-right: 25px;

      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        right: 12px;
        width: 1px;
        background: #dddddd;
      }

      &:last-child {
        padding-right: 0;
        border-right: 0;

        &::after {
          content: none;
        }
      }
    }
    &-qty {
      flex: 0 0 100%;
      margin: 5px 0 0;
    }
  }

  @media (min-width: 576px) {
    padding: 15px;

    &-inner {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &-save {
      & .save-widget {
        &.save-widget-dropdown__opened {
          & .save-widget__dropdown {
            top: 0;
            right: 35px;
          }
        }
      }
    }

    &-thumb {
      flex: 0 0 140px;
    }

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;
      height: 140px;
      margin: 0 auto;
      overflow: hidden;

      & img {
        max-width: 100%;
        height: auto;
      }
    }

    &-info {
      flex: 1 1 auto;
    }

    &-options {
      justify-content: flex-start;
    }

    &-optionsCol {
      padding-right: 25px;

      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        right: 12px;
        width: 1px;
        background: #dddddd;
      }

      &:last-child {
        padding-right: 0;
        border-right: 0;

        &::after {
          content: none;
        }
      }
    }
    &-qty {
      flex: 0 0 auto;
      margin: 0;
    }
  }
}
