@mixin display1600 {
    @media screen and (max-width: 1600px) {
        @content;
    }
}

@mixin display1400 {
    @media screen and (max-width: 1400px) {
        @content;
    }
}

@mixin display1200 {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 1080px) {
        @content;
    }
}

@mixin tablet768 {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone640 {
    @media screen and (max-width: 640px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin phone320 {
    @media screen and (max-width: 320px) {
        @content;
    }
}
.modal-product-overlayClass {
    overflow: auto !important;
    display: flex;
    align-items: center;
    .modal-product-bodyClass {
        margin: auto !important;
        max-width: 730px;
    }
    .modal-wrapper.add-form {
        overflow: hidden;
    }
    .modal-form {
        width: 474px;
        padding: 20px 0px;
        margin: 0px 90px;
        max-width: 100%;

        h2 {
            font-size: 18px;
            text-align: center;
            margin-top: 20px;
        }
        h4 {
            font-weight: 600;
        }
        .add-post-send {
            justify-content: flex-end;
        }
        .btn {
            width: 122px;
            height: 42px;
            &.loading {
                font-size: 0;
            }
            &.grey {
                margin-right: auto;
                margin-left: 0;
            }
        }
    }
    .modal-form .body{
        display: flex;
    }
    .modal-close {
        width: 20px;
        height: 20px;
        top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before, &:after {
            content: '';
            width: 1px;
            height: 100%;
            background: #000;
            display: inline-block;
            vertical-align: top;
            transform-origin: 50% 50%;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}

@include display1600 {
    
}

@include tablet {
    
}

@include tablet768 {
   
}

@include tablet {

}