.PostCommentWrapper {
  &.isReply {
    margin: 0 0 0 50px;
  }

  border-bottom: 1px solid rgba(0, 0, 0, .05);

  &:last-child {
    border-bottom: 0;
  }
}

.PostComment {
  padding: 10px 20px;

  &-inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &-avatar {
    flex: 0 0 40px;
    height: 40px;
    margin: 0 10px 0 0;

    border-radius: 50%;
    overflow: hidden;
  }

  &-body {
    flex: 1 1 auto;
    margin: 0 10px 0 0;
  }

  &-dateTime {
    flex: 0 0 auto;

    font-size: 12px;
    line-height: 14px;
    color: #9b9b9b;
  }

  &-userLink {
    display: inline-flex;
    margin: 0 0 5px;

    font-size: 14px;
    line-height: 16px;
    color: #000;

    transition: opacity 300ms ease-in;

    &:focus,
    &:hover {
      color: #000;
      opacity: .8;
      text-decoration: none;
    }
  }

  &-controls {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    & .like-widget {
      margin: 0 16px 0 0;

      & svg {
        width: 12px;
        height: 12px;
        margin: 0 2px 0 0;
      }

      & .-count {
        font-size: 12px;
        line-height: 12px;
        color: #000000;
      }
    }
  }

  &-reply {
    font-size: 12px;
    line-height: 12px;
    color: #9b9b9b;

    cursor: pointer;
  }

  &-content {
    margin: 8px 0 0 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &-message {
    flex: 1 1 auto;

    font-size: 14px;
    line-height: 16px;
    color: #000;
  }

  &-dropdown {
    flex: 0 0 auto;

    & .ant-dropdown-trigger {
      cursor: pointer;

      & svg {
        fill: #9b9b9b;

        transform: rotate(90deg);
        transition: fill 300ms ease-in-out;
      }

      &:focus,
      &:hover {
        & svg {
          fill: #000;
        }
      }
    }
  }

  @media (min-width: 541px) {
    padding: 10px 30px;
  }
}

.ant-dropdown-menu {
  border-radius: 1px!important;
  box-shadow: 1px 0 6px 0 rgba(0, 0, 0, 0.1)!important;
}
.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  min-width: 150px!important;
  padding: 7px 25px!important;
  color: #363636!important;
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  color: #363636!important;
  background-color: #ececec!important;
}
.ant-dropdown-menu-item > a,
.ant-dropdown-menu-submenu-title > a {
  color: #363636!important;
}
