.ReportPost {
  &-dialogWrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-dialog {
    width: 360px;
    max-width: 100%;

    & .rc-dialog-content {
      position: relative;

      & .rc-dialog-close {
        position: absolute;
        top: 15px;
        right: 24px;
      }
    }

    & .rc-dialog-body {
      margin: 0;
      padding: 0;
    }
  }

  &-heading {
    padding: 15px 50px;

    border-bottom: 1px solid rgba(151,151,151,.3);
  }

  &-title {
    margin: 0;

    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    color: #000;
  }

  &-content {
    padding: 15px 21px;
  }

  &-info {
    margin: 0 0 15px;

    font-size: 15px;
    line-height: 17px;
    color: #999999;
    text-align: center;
  }

  &-options {
    margin: 0 0 15px;
  }

  &-textarea {
    margin: 2px 0 0;

    & .ant-input {
      &:focus {
        border-color: #ed484f;
        outline: 0;
        box-shadow: 0 0 0 2px rgba(237, 72, 79, 0.2);
      }
      &:hover {
        border-color: #ed484f;
      }
    }
  }

  &-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-controlBtn {
    flex: 0 0 auto;

    &--cancel {
      margin: 0 15px 0 0 !important;
      border: none !important;
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }

  &-submitedTitle {
    margin: 0 0 21px;

    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    text-align: center;
    color: #30373a;
  }

  &-submitedInfo {
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #30373a;
  }

  &-submitedBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 0 0;
  }
}
