@mixin display1600 {
    @media screen and (max-width: 1600px) {
        @content;
    }
}

@mixin display1400 {
    @media screen and (max-width: 1400px) {
        @content;
    }
}

@mixin display1200 {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 1080px) {
        @content;
    }
}

@mixin tablet768 {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone640 {
    @media screen and (max-width: 640px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin phone320 {
    @media screen and (max-width: 320px) {
        @content;
    }
}

.sitePostPreview {
  width:100%;
  display:flex;
  position:relative;
  background:#f7f7f8;
  max-height:200px;
  padding:20px;
}

.sitePostPreview__picture {
  width:35%; 
  overflow:hidden;
  display:flex;
  justify-content:center;

  img {
    height: 100%;
    object-fit:cover;  
  }
}

.sitePostPreview__description {
    max-height: 110px;
    overflow: hidden;
    a, a:hover {
        color: rgb(0, 84, 182);
    }
}

.sitePostPreview__infoWrapper{
  padding:0 0 0 15px;
  max-width:65%; 
}

.sitePostPreview__title{
  font-weight:600;
  text-transform: none;
  margin:0 auto 10px;
  overflow: hidden;

  a {
      color: inherit!important;
  }
}

.sitePostPreview__site { 
  color:#999;
}

.sitePostPreview__remove {
  position: absolute;
  right: 10px;
  top: 3px;
  font-size: 1.5em;
  cursor:pointer;
}




@include tablet768 {
  .sitePostPreview {
    font-size: 0.9em;
  }
}