@import 'comp-styles/variables';

.FeedStores {
  padding: 16px 20px 35px;
  color: #000;
  background: #fff;

  &-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 12px;
  }

  &-title {
    flex: 0 1 auto;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #333333;
    opacity: .4;
  }

  &-titleBtn {
    flex: 0 1 auto;
    position: relative;
    padding: 2px 7px 2px 3px;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    outline: 0;
    background-color: transparent;
    border: 0;
    transition: opacity 300ms ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;

      display: block;
      width: 6px;
      height: 6px;
      margin-top: -3px;

      border-top: 1px solid #333333;
      border-left: 1px solid #333333;
      transform: rotate(135deg);
    }

    &:focus,
    &:hover {
      opacity: .75;
    }
  }

  &-more {
    position: relative;
    margin: 30px 0 0;
    border-bottom: 1px solid $primary-color;
  }
  &-moreBtn {
    position: absolute;
    bottom: 0;
    left: 50%;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 110px;
    margin: 0;
    padding: 6px 5px;

    font-size: 12px;
    line-height: 14px;
    color: $primary-color;

    border-radius: 14px;
    border: 1px solid $primary-color;
    outline: 0;
    background-color: #fff;
    transform: translate(-50%, 50%);
    transition: 300ms ease-out;

    & .arr {
      display: block;
      width: 6px;
      height: 6px;
      margin: -3px 0 0;
      padding: 0;

      border-bottom: 1px solid $primary-color;
      border-left: 1px solid $primary-color;
      transform: rotate(-45deg);
      transition: 300ms ease-out;
    }

    & .txt {
      margin: 0 0 0 7px;
    }

    &:focus,
    &:hover {
      color: #fff;
      background: $primary-color;

      & span {
        border-color: #fff;
      }
    }
  }
}
