@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-prev:before,
.slick-next:before {
  content: '';
  display: block;
  width: 30px !important;
  height: 30px !important;
  background: url('./images/arrow.png') no-repeat;
  background-size: contain;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

.slick-next:before {
  transform: rotateY(180deg);
}

.slick-dots {
  bottom: -40px !important;
}

.slick-track {
  display: flex !important;
  align-items: center;
}
