@import '~antd/dist/antd.css';

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-Bold'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-Light'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-Medium'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-MediumItalic.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-MediumItalic'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-MediumItalic.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-MediumItalic.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-LightItalic.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-LightItalic'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-LightItalic.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-HeavyItalic.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-HeavyItalic'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-HeavyItalic.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-HeavyItalic.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-Black.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-Black'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Black.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Black.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-Heavy.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-Heavy'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Heavy.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Heavy.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-Italic.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-Italic'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Italic.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Italic.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-Roman'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-BlackItalic.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-BlackItalic'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-BlackItalic.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-BlackItalic.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-UltraLightItalic.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-UltraLightItalic'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-UltraLightItalic.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-ThinItalic.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-ThinItalic'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-ThinItalic.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-ThinItalic.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-UltraLight.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-UltraLight'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-UltraLight.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-Thin.eot');
  src: local('./fonts/HelveticaNeue/HelveticaNeueCyr-Thin'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Thin.woff2') format('woff2'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Thin.woff') format('woff'),
    url('./fonts/HelveticaNeue/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-Medium.eot');
  src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
    url('./fonts/SFProDisplay/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-Medium.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-Medium.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-Heavy.eot');
  src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
    url('./fonts/SFProDisplay/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-Heavy.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-Heavy.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-UltralightItalic.eot');
  src: local('SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
    url('./fonts/SFProDisplay/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-UltralightItalic.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-UltralightItalic.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-UltralightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-RegularItalic.eot');
  src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
    url('./fonts/SFProDisplay/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-RegularItalic.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-RegularItalic.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-Thin.eot');
  src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
    url('./fonts/SFProDisplay/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-Thin.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-Thin.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-Light.eot');
  src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
    url('./fonts/SFProDisplay/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-Light.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-Light.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-BlackItalic.eot');
  src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
    url('./fonts/SFProDisplay/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-BlackItalic.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-BlackItalic.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-Bold.eot');
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
    url('./fonts/SFProDisplay/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-Bold.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-Bold.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-Black.eot');
  src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
    url('./fonts/SFProDisplay/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-Black.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-Black.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-SemiboldItalic.eot');
  src: local('SF Pro Display SemiboldItalic'), local('SFProDisplay-SemiboldItalic'),
    url('./fonts/SFProDisplay/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-SemiboldItalic.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-Ultralight.eot');
  src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
    url('./fonts/SFProDisplay/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-Ultralight.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-Ultralight.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-Ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-LightItalic.eot');
  src: local('SF Pro Display LightItalic'), local('SFProDisplay-LightItalic'),
    url('./fonts/SFProDisplay/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-LightItalic.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-LightItalic.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-ThinItalic.eot');
  src: local('SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
    url('./fonts/SFProDisplay/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-ThinItalic.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-ThinItalic.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-MediumItalic.eot');
  src: local('SF Pro Display MediumItalic'), local('SFProDisplay-MediumItalic'),
    url('./fonts/SFProDisplay/SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-MediumItalic.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-MediumItalic.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-Semibold.eot');
  src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
    url('./fonts/SFProDisplay/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-Semibold.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-Semibold.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-HeavyItalic.eot');
  src: local('SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
    url('./fonts/SFProDisplay/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-HeavyItalic.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-HeavyItalic.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-Regular.eot');
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
    url('./fonts/SFProDisplay/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-Regular.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-Regular.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay/SFProDisplay-BoldItalic.eot');
  src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
    url('./fonts/SFProDisplay/SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay/SFProDisplay-BoldItalic.woff2') format('woff2'),
    url('./fonts/SFProDisplay/SFProDisplay-BoldItalic.woff') format('woff'),
    url('./fonts/SFProDisplay/SFProDisplay-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: -apple-system, 'Helvetica Neue', 'SF Pro Display', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html.overflow-hidden {
  overflow: hidden;
  height: 100%;
}

body.overflow-hidden {
  overflow: hidden;
  height: 100%;
}

#root {
  overflow: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  margin-bottom: 10px;
}

.slick-prev:before,
.slick-next:before {
  content: '';
  display: block;
  width: 30px !important;
  height: 30px !important;
  background: url('./images/arrow.png') no-repeat;
  background-size: contain;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

.slick-next:before {
  transform: rotateY(180deg);
}

.slick-dots {
  bottom: -40px !important;
}

.slick-track {
  display: flex !important;
  align-items: center;
}

/* default */

.certain-category-search {
  width: 274px !important;
  height: 40px !important;
  border: none !important;
  border-radius: 4px 0 0 4px !important;
}

.certain-category-search:focus {
  box-shadow: none !important;
}

.certain-category-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix {
  right: 12px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor: default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}

.certain-search-item-count {
  position: absolute;
  color: #999;
  right: 16px;
}

.ant-menu-vertical,
.ant-menu-submenu-active {
  border: none !important;
}

.ant-menu-horizontal {
  border-bottom: none;
  position: relative;
}

.ant-select-dropdown-menu-item.color {
  display: flex !important;
  align-items: center;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #545454;
}

.ant-select-dropdown-menu-item.color.selected {
  font-weight: 700;
}

.ant-select-dropdown-menu-item.color::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 8px 0 0;
}

.ant-select-dropdown-menu-item.color.-pink::before {
  background: #db95d1;
}

.ant-select-dropdown-menu-item.color.-yellow::before {
  background: #f5d823;
}

.ant-select-dropdown-menu-item.color.-red::before {
  background: #f53023;
}

.ant-select-dropdown-menu-item.color.-grey::before {
  background: #969696;
}

.ant-select-dropdown-menu-item.color.-black::before {
  background: #000000;
}

.ant-select-dropdown-menu-item.color.-orange::before {
  background: #ff9900;
}

.ant-select-dropdown-menu-item.color.-green::before {
  background: #0eac00;
}
